fieldset {
    border: #26a solid 1px;
    width: 90%;
}

legend {
    color:#000000;
    position: relative;
    top: -.5em;
    font-weight: bold;
}

font.redtext {
    font-family:verdana, arial, helvetica, sans-serif;
    font-size:10px;
    font-weight: bold; color: #FF0000
}

font.blacktext {
    font-family:verdana, arial, helvetica, sans-serif;
    font-size:10px;
    font-weight: bold; color: #000000
}

