<input type="hidden" name="mxcheck_state" value="[% return_.mxcheck %]" id="mxcheck_state">
<input type="hidden" name="detected_state" value="[% return_.detected %]" id="detected_state">


<table cellspacing="0" cellpadding="0" class="dynamic_table" id="mx_records_table" style="width: 100%">
	<tr class="dt_header_row">
		<th style="width: 15%">Priority</th>
		<th>Destination</th>
		<th style="width: 25%">Actions</th>
	</tr>
	[% IF return_.entries %]
		[% FOREACH q IN return_.entries -%]
		    <tr id="info_row_[% q.entrycount %]" class="dt_info_row info-[% q.row %]">
		        <td id="display_priority_[% entrycount %]">[% q.priority %]</td>
		        <td id="display_destination_[% q.entrycount %]">[% q.mx %]</td>
		        <td>
		            <span class="action_link" onclick="toggle_module('edit_[% q.entrycount %]');">Edit</span>&nbsp;
		            <span class="action_link" onclick="toggle_module('delete_[% q.entrycount %]');">Delete</span>
		        </td>
		    </tr>
		    <tr id="module_row_[% q.entrycount %]" class="dt_module_row">
				<td colspan="3">
			        <div class="dt_module" id="edit_[% q.entrycount %]">
			            <table class="dt_module_table" width="300px">
			                <tr>
			                    <td class="align_right" style="width: 100px">Priority:</td>
			                    <td style="width: 150px">
			                        <input id="priority_[% q.entrycount %]" type="text" size="3" maxlength="3" value="[% q.priority %]" />
			                        <input id="old_priority_[% q.entrycount %]" type="hidden" value="[% q.priority %]" />
			                    </td>
			                    <td><div id="priority_[% q.entrycount %]_error"></div></td>
			                </tr>
			                <tr>
			                    <td class="align_right">Destination:</td>
			                    <td>
			                        <input id="destination_[% q.entrycount %]" type="text" value="[% q.mx %]" />
			                        <input id="old_destination_[% q.entrycount %]" type="hidden" value="[% q.mx %]" />
			                        <div id="old_destination_[% q.entrycount %]_error" style="display: none"></div>
			                    </td>
			                    <td><div id="destination_[% q.entrycount %]_error"></div></td>
			                </tr>
			                <tr>
								<td colspan="3" style="text-align: center;">
				                    <div style="height: 5px"></div>
				                    <div id="edit_input_[% q.entrycount %]">
					                    <span class="action_link" onclick="toggle_module('edit_[% q.entrycount %]')">cancel</span>
										or <input type="button" class="input-button" id="confirm_edit_[% q.entrycount %]" value="Edit" />
				                    </div>
				                    <div id="edit_status_[% q.entrycount %]"></div>
			                	</td>
							</tr>
			            </table>
			        </div>
			        <div class="dt_module" id="delete_[% q.entrycount %]" style="text-align: center">
			            Delete this record?<div style="height: 8px"></div>
			            <div id="delete_input_[% q.entrycount %]">
				            <span class="action_link" onclick="toggle_module('delete_[% q.entrycount %]')">cancel</span>
							or <input type="button" class="input-button" id="confirm_delete_[% q.entrycount %]" value="Delete" onclick="delete_mx_record('[% q.entrycount %]', '[% q.priority %]', '[% q.mx %]')" />
			            </div>
			            <div id="delete_status_[% q.entrycount %]"></div>
			        </div>
			        <div id="status_bar_[% q.entrycount %]" class="cjt_status_bar"></div>
		    	</td>
			</tr>	
		[% END -%]
	[% ELSE %]
		<tr class="info-even"><td colspan="3">There are no MX records for [% CPANEL.FORM.domain %]</td></tr>
	[% END %]
</table>
