[%
SET list_extensions = Api2.exec("CommuniGate", "GetExtensionsForPSTN", {
"domain" = RAW_FORM.item("domain")
});
selected_ext = list_extensions.1.selected.PSTNGatewayAuthName;
%]

[% FOREACH ext IN list_extensions %]
[% IF !ext.selected %]
[% IF selected_ext == ext.telnum.authname %]
<option value="[% ext.extension %]" selected>[% ext.short %]</option>
[% ELSE %]
<option value="[% ext.extension %]">[% ext.short %]</option>
[% END %]
[% ELSE %]

[% END %]
[% END %]
