[% SET CPANEL.CPVAR.dprefix = "../../" %]
[% WRAPPER '_assets/master.html.tt'
app_key = 'cgpro_domain_settings'
-%]
<div class="body-content">
  [% IF CPANEL.feature('cgpro_account_defaults') %]
  <div id="managing-menu"></div>
  <div id="settings-menu"></div>
  [% INCLUDE _assets/return_link.html.tt return_location='../index.html' return_link_text=locale.maketext('Go Back') %]
  [% END %]
</div>
[% END %]

