.clear:after {clear: both; content: "."; display: block; height: 0; visibility: hidden;}
.clear {display: block; overflow: hidden;}

/* CSS Document */
body {
	margin:0;
	}
ul#left {
	float:left;
	margin: 0;
	border-right: dotted 1px #999;
	padding: 10px;
	}
#left li {
	display:inline;
	list-style:none;
	font-size: 9px;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0 3px 0 3px;
	}	
#left li a {
	color:#333333;
	}
#left li img {
	margin: 0 3px 0 3px;
	
	}	
ul#middle {
	float:left;
	margin: 0;
	border-right: dotted 1px #999;
	padding: 10px;
	}
#middle li {
	display:inline;
	list-style:none;
	font-size: 9px;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0 3px 0 3px;
	}	
#middle li a {
	color:#333333;
	}
#middle li img {
	margin: 0 3px 0 3px;
	
	}		
	ul#right {
	float:left;
	margin: 0;
	padding: 10px;
	}
#right li {
	display:inline;
	list-style:none;
	font-size: 9px;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0 3px 0 3px;
	}	
#right li a {
	color:#333333;
	}
#right li img {
	margin: 0 3px 0 3px;
	
	}	
#filetable {
	color:#333333;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
		}
#filetable th {
	border-right: dotted 1px #999;
	border-bottom: dotted 1px #999;
	padding: 5px;
	}			
#filetable td {
	padding: 2px 0 2px 10px;
	}	
#filetable input {
	font-size: 10px;
	color: #333;
	}
#middlebar {
	background:url(../img/icons/topgradient.jpg); 
	height:28px; 
	border-bottom: solid 1px #ccc;
	}	
.path {
	float:left; 
	padding:3px 10px;
	}	
.search {
	float:right; 
	padding:3px 10px;
	}	
ul#topnav {
	float:left;
	margin:5px 0 0 0;
	padding:0px;
	border-right: dotted 1px #999;
	text-align:center;
	}	
#topnav li{
	float:left;
	display: inline;
	list-style:none;
	font-size: 9px;
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	padding:0 10px;
	}	
#topnav li a {
	color: #666666;
	}
.divider {
	border-right: dotted 1px #999;
	}	
#from {
	width:50%;
	text-align:center;
	float:left;
	margin-top: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	}		
#to {
	width:50%;
	text-align:center;
	float:left;
	margin-top: 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	}
#copybutton {
	margin-left:210px;
}
#filehead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	margin: 0px 6px 0px 4px;
	color: #013541;
}	
img {
	border:none;
	}
#subright {
	background: url(../img/icons/topgradient.jpg) repeat-x 0 0;
	 margin:0;	
	 height: 100%;
	 border-left: solid 1px #999;
	 }
#topnav {
	background:url(../img/icons/topgradient.jpg) repeat-x 0 0; 
	xheight: 40px; 
	margin:0; 
	padding:0; 
	border-bottom: solid 1px #ccc; 
	text-align:center;	 
	}
h1 {
	color:#333; 
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0;
	}
#subleft {
	background: url(../img/icons/topgradient.jpg) repeat-x; 
	margin:0px;
 	}	
