.sa-box {
	background: #f9f9f9;
	border: 1px Solid #eee;
	padding: 10px;
	margin: 10px 0;
}
.sa-box h2 {
	margin:0;
}
#sa-filters-main {
	width:330px;
	float:left;
	border-right:solid 1px #ccc;
	padding:0 10px 0 0;
}
#sa-filters-sec {
	width:320px;
	float:left;
	margin:0 0 0 10px;
	padding:0 0 0 10px;
}
#saconfig-tbl {
	border:none;
}
#saconfig-tbl td {
	border-bottom:solid 1px #eee;
	padding:10px;
	margin:0;
}
.sa-desblock td{
	background: #F9F9F9;
	text-align:left;
}

#clearspambox {
	width:122px;
	float:right;
}
.enablespambox {
	width:125px;
	float:left;
}