/* ------------------------------------
   =BackupRestoreWizard :Change Style Section in Getting Started Wizard
   ------------------------------------ */

#br-content-main, #br-content-sec {
	background: #f9f9f9;
	border: 1px dotted #eee;
	padding: 0 15px;
	width: 315px;
	}
#wizard-backup, #wizard-restore {
background:#EEEEEE none repeat scroll 0 0;
border:1px solid #E5E5E5;
display:block;
font-size:129%;
padding:5px;
text-decoration:none;
width:5.2em;
}
#br-content-main {
	float: left;
	}

#br-content-sec {
	float: right;
	}

#backup-nav {
	margin: 10px 0;
	}

#backup-nav ol, #backup-nav ol li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

#backup-nav ol {

	}

#backup-nav ol li, #backup-nav ol li a {
	float: left;
	}

#backup-nav ol li {
	border-left: 1px solid #999;
	font-size: 129%;
	}
	
#backup-nav ol li:first-child {
	border-left: 0;
	}
#backup-nav ol li span {
	background: #e5e5e5;
	display: block;
	padding: 30px 10px 10px;
	text-align: center;
	width: 210px;
	}

#backup-nav ol li.current span {
	background: #fff;
	}

#backup-nav ol li a span {
	background: #eee;
	}

#backup-nav ol li a {
	text-decoration: none;
	}

#backup-nav ol li.one span {
	background: #e5e5e5 url(../images/brwizard/01.png) no-repeat 8px 50%;
	}

#backup-nav ol li.one span.current {
	background-color: #fff;
	color: #000;
	font-weight: bold;
	}

#backup-nav ol li.two span {
	background: #e5e5e5 url(../images/brwizard/02.png) no-repeat 8px 50%;
	}

#backup-nav ol li.two span.current {
	background-color: #fff;
	color: #000;
	font-weight: bold;
	}

#backup-nav ol li.three span {
	background: #e5e5e5 url(../images/brwizard/03.png) no-repeat 8px 50%;
	}

#backup-nav ol li.three span.current {
	background-color: #fff;
	color: #000;
	font-weight: bold;
	}
/* ------------------------------------
   =backup/restore wizard-backup-type.html & wizard-restore-type.html
   ------------------------------------ */

#br-content-wide {
	background: #f9f9f9;
	border: 1px dotted #eee;
	padding: 10px 15px;
	}

#br-type-content ul, #br-type-content ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

#br-type-content ul {
	border: 1px solid #eee;
	margin: 15px 0 5px;
	width: 300px;
	}

#br-type-content li a {
	background: transparent url(../images/brwizard/icon_package_get.gif) no-repeat 95% 50%;
	border-bottom: 1px solid #eee;
	display: block;
	padding: 10px;
	text-decoration: none;
	}

#br-type-content li a:hover {
	background-color: #fff;
	}
	
#br-content-header h2 {
	margin: 0; /* Fix for negative margin by default stylesheet */
	}
/* ------------------------------------
   =backup/restore wizard-backup.html & wizard-restore.html
   ------------------------------------ */

#wizard-backup-full {
	background: #eee;
	border: 1px solid #e5e5e5;
	display: block;
	font-size: 129%;
	padding: 5px;
	text-decoration: none;
	width: 7.5em;
	}

#wizard-backup-type, #wizard-backup-type li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	}
#wizard-backup-type li a {
	background: #eee;
	border: 1px solid #e5e5e5;
	display: block;
	font-size: 129%;
	margin: 0 0 8px;
	padding: 5px 15px;
	text-decoration: none;
	}

/* ------------------------------------
   =backup/restore wizard.html cpanel
   ------------------------------------ */

#wizard-backup, #wizard-restore {
	background: #eee;
	border: 1px solid #e5e5e5;
	display: block;
	font-size: 129%;
	padding: 5px;
	text-decoration: none;
	width: 5.2em;
	}
