

/* ------------------------------------
   =Boxes
   These styles are applied to index.html to manage the boxes.
   ------------------------------------ */

#boxes {
width:100%;
padding:0;
margin:0;
font-size:10px;
}

#files,#logs,#mail,#domains,#db,#sec,#software,#pref,#advanced {
margin:0;
margin-bottom:0px;
padding:0;
}

.celldrop_active {
background-color:#2222ff;
height:5px;
width:100%;
padding:0px;
}

.celldrop {
height:5px;
width:100%;
padding:0px;
}

.topcell {
border:1px solid #ccc;
padding:0;
margin:0;
text-align:center;
height:27px;
}

.cellform {
padding:0;
margin:0;
display:inline;
}
.cellbox {
border:1px solid #ccc;
padding:0;
margin:0;
width:100%;
text-align:center;
line-height: 1.2em;
}

#main .item {
padding:0;
float:left;
width:60px;
height:63px;
margin:0 5px 5px 5px;
}

.itemlink {
text-decoration:none;
cursor: pointer;
cursor: hand;
}

.cellheading {
border-right:2px #ccc solid;
font:12px Verdana, sans-serif;
color:#333;
font-weight:700;
}

h6 {
margin:0 0 9px;
padding:0;
border-bottom:2px #ccc solid;
font:12px Verdana, sans-serif;
color:#333;
font-weight:700;
text-align:center;
height:15px;
cursor:move;
}
/*Suckerfish hover fix for ie6*/
h6.sfhover {
cursor:pointer;
}
h3 {
margin:0 0 10px;
padding:0;
border-bottom:2px #ccc solid;
font:12px Verdana, sans-serif;
color:#333;
font-weight:700;
text-align:center;
height:15px;
cursor:default;
}
h6:hover {
cursor:move;
}
/* ------------------------------------
   =Stats
   ------------------------------------ */
#content-stats {
	margin:0;
	padding:0;
	width:auto;
	text-align:center;
	overflow:hidden;
}

#stats-header {
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	cursor: pointer;
	position: relative;
}
#stats{
	width: 100%;
	padding: 0;
	margin: 0;
}
#stats, #stats_extended {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

#extended_stats {
	margin: 0px;
	padding: 0px;
	width: auto;
	text-align: center;
	overflow: hidden;
}

.domaintxt {
font-size:9px;
}

div.stats_progress_bar {
	width: 110px;
	height: 10px;
	border: 1px solid #ccc;
}
div.stats_progress_bar_text, div.stats_progress_bar_percent {
	display: none;
}

#stats table, #stats_extended table {
border-collapse:collapse;
overflow:hidden;
}

#stats td, #stats_extended td {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px #ccc solid;
	border-collapse: collapse;
	overflow: hidden;
}

#stats .nopad-nobrd {
padding:0;
margin:0;
border:none;
}

#stats .row-odd, #stats_extended .row-odd {
background-color:#F3F3F3;
}

#stats .row-even, #stats_extended .row-even {
background-color:#fff;
padding:5px;
}

#stats .txt {
font-size:9px;
font-weight:700;
}

td.stats_left {
	text-align: center;
	color: #666;
	font-weight: 700;
	font: 9px Arial, Helvetica, sans-serif;
	width: 40%;
}

td.stats_right {
	text-align: left;
	padding-left: 10px;
	font: 10px Verdana, sans-serif;
	width: 60%;
}

#expand {
float:right;
}

td.reseller-drop-l{
	width:220px;
}
td.reseller-drop-r{
	width:500px;
}
td.reseller-drop-l, td.reseller-drop-r {
text-align:center;
font-size:11px;
}

#optionselect-content {	
    background-color:#E4EFF2;
    padding: 0 15px 15px 15px; 
    height: 300px; 
}
#noticeboard{
	padding:0 5px;
	width:auto;
}
#jump-search h3{
	margin:0;
}
.jump-tbl{
	padding-right:4px;
	width: 100%;
	border-collapse: collapse;
}
#quickjump{
	width:90%;margin:5px 0;
}
/*#gosearch{
	display:none;
	margin: 0 auto;
}*/
#faaboard{
	padding:0 10px;width:auto;
}
.box-expand-control, .box-collapse-control{
	position: absolute; 
	right: 0px; 
	top: 0px;
}
#stats-header h3{
	padding: 0px; 
	margin: 0px
}
#content-stats-end{
	width: 100%; 
	padding-top: 5px
}
.cellbox-header{
	position: relative;
}
.index_box_header{
	clear: none;
}
.box-collapse-control{
	position:absolute; 
	top:0px; 
	right:0px
}
/* style for box headers on the index page */
div.index_box_header {
	border-style: solid;
	text-align: center;
	padding: 0px;
	margin: 0 0 9px;
	line-height: normal;
	height: 15px;
	font-weight: 700;
	font-variant: normal;
	font-style: normal;
	font-stretch: normal;
	font-size-adjust: none;
	font-size: 12px;
	font-family: Verdana,sans-serif;
	cursor: move;
	color: #333333;
	border-bottom: 2px solid #CCCCCC;
	clear: none;
	margin-bottom: 10px;
	background-position: 0 -966px;
}