[% USE CPBranding -%]
<table border="0" cellpadding="5" width="550" cellspacing="0" id="mailtbl" class="sortable truncate-table">
  <tr>
    <th class="sorttable_nosort"></th>
    <th class="sorttable_nosort">[% locale.maketext("CGPAccount") %]</th>
  </tr>
  [% FOR acc IN remote_accounts -%]
  <tr class="row-[% loop.count % 2 ? 'odd' : 'even' %]">
    <td>
      <img src="[% CPBranding.image('cgpro_ok') %]" alt="Migrated" />
    </td>
    <td>[% acc %]</td>
  </tr>
  [% END -%]
  [% IF account -%]
  <tr>
    <td>
      <img src="[% CPBranding.image('cgpro_not_ok') %]" alt="Not migrated" />
    </td>
    <td>
      <h2 style="margin-left: 0;">[% account %]</h2>
      [% IF CPANEL.CPERROR.email -%]
      <p class="errors">
	[% CPANEL.CPERROR.email %]
      </p>
      [% END -%]
      <div class="highlight">
	<form action="" method="post">
	  <table style="text-align: center; margin: 0px auto" border="0">
	    <tbody>
	      <tr>
		<td align="right">[% locale.maketext("CGPRealName") %]:</td>
		<td><input type="text" name="realname" id="realname" style="width: 150px" tabindex="2" /></td>
		<td colspan="2"><div id="realanem_error"></div></td>
	      </tr>
	      <tr>
		<td width="33%" style="text-align: right">[% locale.maketext("CGPPassword") %]:</td>
		<td width="33%">
		  <input type="password" style="width: 150px" id="change_password_input_1" name="password" />
		</td>
		<td width="33%" style="text-align: left">
		  <span style="width: 16px; height: 16px;" id="change_password_input_1_error" class="cjt_validation_error">
		  </span>
		</td>
	      </tr>
	      <tr>
		<td style="text-align: right">[% locale.maketext("CGPPasswordAgain") %]:</td>
		<td>
		  <input type="password" style="width: 150px" id="change_password_input_2" name="password2" />
		</td>
		<td style="text-align: left">
		  <span style="width: 16px; height: 16px;" id="change_password_input_2_error" class="cjt_validation_error">
		  </span>
		</td>
	      </tr>
	      <tr>
		<td style="text-align: right">[% locale.maketext("CGPStrenth") %]:</td>
		<td>
		  <center>
		    <div style="width: 150px; height: 20px; border: 1px solid black" id="password_strength_bar"></div>
		  </center>
		</td>
		<td style="text-align: left">
		  <input type="button" value="[% locale.maketext("CGPPasswordGenerator") %]" id="create_strong_password" tabindex="-1" class="input-button">
		</td>
	      </tr>
	      <tr>
		<td style="text-align: right;">
		  [% locale.maketext("CGPAutoSyncPOP") %]
		</td>
		<td style="text-align: left">
		  <input type="checkbox" name="autorpop" value="1" />
		</td>
		<td>
		</td>
	      </tr>
	      <tr>
		<td colspan="3">
		  <div style="height: 8px">&nbsp;</div>
		  <div id="change_password_input" align="right">
		    <input type="hidden" name="quota" value="[% accounts.$account.quota %]" />
		    <input type="hidden" name="email" value="[% account.split('@').0 %]" />
		    <input type="hidden" name="domain" value="[% account.split('@').1 %]" />
		    <input type="hidden" name="account" value="[% account %]" />
		    <input type="submit" name="submit" id="email_table_change_password_confirm" value="[% locale.maketext("GSWContinue") %]" class="input-button">
		    or <a href="realdelpop.html?domain=[% account.split('@').1 %]&amp;email=[% account.split('@').0 %]&amp;referer=accounts_migration_wizard_migrate.html" onclick="return confirm('[% locale.maketext("CGPDeleteAccount") %] [% account %]?')">delete</a> local account
		  </div>
		  <div id="change_password_status">
		  </div>
		</td>
	      </tr>
	    </tbody>
	  </table>
	</form>
      </div>
      <script>
	// REQUIRED_PASSWORD_STRENGTH = 5;
	var OPEN_ACTION_DIV = 0;
	var MENUS = [];
	var toggle_menu = function(e, o) {
	// build the menu if it doesn't exist
	if (typeof(MENUS[o.index]) !== 'object') {
	// create the menu
	var options = {
	position : "dynamic",
	clicktohide : "true",
	context : ["email_table_menu_button_" + o.index, "tl", "bl", ["beforeShow", "windowResize", CPANEL.align_panels_event]],
	shadow : "true",
	effect: {effect: YAHOO.widget.ContainerEffect.FADE, duration: 0.25}
	};
	MENUS[o.index] = new YAHOO.widget.Menu("email_table_menu_" + o.index, options);

	var menu_items = [];
	// configure email
	menu_items.push({
	text: 'Configure Email Client',
	url: "clientconf.html?acct=" + encodeURIComponent(ACCOUNTS[o.index]['user']) + "@" + encodeURIComponent(ACCOUNTS[o.index]['domain'])
	});
	
	MENUS[o.index].addItems(menu_items);
	MENUS[o.index].render("menus_div");
	}

	MENUS[o.index].show();
	};

	var toggle_action_div = function(e, o) {
	// if a div, that is not o, is already open, close it
	if ( OPEN_ACTION_DIV && OPEN_ACTION_DIV.id !== o.id && YAHOO.util.Dom.getStyle(OPEN_ACTION_DIV.id, "display") != "none") {
	var currently_open_div = OPEN_ACTION_DIV;
	CPANEL.animate.slide_up( currently_open_div.id , function() { });
	}
	
	// if o is currently displayed, hide it
	if (YAHOO.util.Dom.getStyle(o.id, "display") != 'none') {
	CPANEL.animate.slide_up( o.id, function() { });
	}
	// else show o and set it as the OPEN_ACTION_DIV
	else {
	CPANEL.animate.slide_down( o.id, function() { });
	OPEN_ACTION_DIV = o;
	}
	};

	var verify_local_extension_local = function (e) {
	return CPANEL.validate.positive_integer(e) && CPANEL.validate.greater_than(e,200) && CPANEL.validate.less_than(e,1000);
	};
	var verify_local = function () {
	var PWD_BAR = new CPANEL.password.strength_bar("password_strength_bar");
	var VAL_PWD = new CPANEL.validate.validator(LANG.password_input);
	var VAL_PWD2 = new CPANEL.validate.validator(LANG.password_input);
	// var VAL_QUOTA = new CPANEL.validate.validator(LANG.quota_input);
	PWD_BAR.attach("change_password_input_1", function() { VAL_PWD.verify(); });
	var verify_password_strength_local = function () {
	if (PWD_BAR.current_strength >= 30) return true;
	return false;
	};
	VAL_PWD.add("change_password_input_1", verify_password_strength_local, YAHOO.lang.substitute(LANG.password_strength_must_be,{min_passwd_strength: 30}));
	VAL_PWD.add("change_password_input_1", 'no_chars(%input%, " ")', LANG.password_spaces);
	VAL_PWD.attach();
	VAL_PWD2.add("change_password_input_2", "equals('change_password_input_1', 'change_password_input_2')", LANG.passwords_not_match);
	VAL_PWD2.attach();
	EVENT.on("create_strong_password", "click", function () {
	CPANEL.password.generate_password(function (password) {
	DOM.get("change_password_input_1").value = password;
	DOM.get("change_password_input_2").value = password;
	PWD_BAR.check_strength("change_password_input_1", function() { VAL_PWD.verify() });
	VAL_PWD2.verify();
	});
	});
	CPANEL.validate.attach_to_form("email_table_change_password_confirm", [VAL_PWD, VAL_PWD2]);
	if (document.getElementById("local_extension_input")) {
	var VAL_LOCAL_EXT = new CPANEL.validate.validator(LANG.local_extension_input);
	VAL_LOCAL_EXT.add("local_extension_input", 'if_not_empty(%input%,verify_local_extension_local)', YAHOO.lang.substitute(LANG.local_extension_input_invalid,{min: 200, max: 999}));
	VAL_LOCAL_EXT.attach();
	CPANEL.validate.attach_to_form("change_quota_confirm", [VAL_LOCAL_EXT]);
	}
	};

	YAHOO.util.Event.onDOMReady(function () {
	verify_local();
	});
      </script>
    </td>
  </tr>
  [% END -%]
  [% FOR acc IN diff_accounts -%]
  <tr>
    <td>
      <img src="[% CPBranding.image('cgpro_not_ok') %]" alt="Not migrated" />
    </td>
    <td>[% acc %]</td>
  </tr>
  [% END -%]
</table>
[% UNLESS account -%]
<p>All accounts are imported!</p>
<div class="return-link"><a href="../index.html">&larr; Go Back</a></div>
[% END -%]
