[% MACRO filter_option(pval, val, text) BLOCK -%]
<option value="[% val %]"[% val == pval ? " selected='selected'" : "" %]>[% cptext(text) %]</option>
[% END -%]
<tr>
  <td align="right">
    [% type = tel.keys.grep('(HOME|WORK|CELL|FAX|VIDEO|AGENT|PAGER|OTHER)').0 -%]
    <select name="teltype-[% CPANEL.CPVAR.id %]">
      [% filter_option(type, "OTHER", locale.maketext("CGPOTHER")) %]
      [% filter_option(type, "HOME", locale.maketext("CGPHOME")) %]
      [% filter_option(type, "WORK", locale.maketext("CGPWORK")) %]
      [% filter_option(type, "CELL", locale.maketext("CGPCELL")) %]
      [% filter_option(type, "FAX", locale.maketext("CGPFAX")) %]
      [% filter_option(type, "VIDEO", locale.maketext("CGPVIDEO")) %]
    </select>
  </td>
  <td><input type="text" name="TEL-[% CPANEL.CPVAR.id %]" style="width: 150px" value="[% tel.VALUE %]" /></td>
  <td colspan="2"><a href="#" class="removerow">Remove</a></td>
</tr>
