[% MACRO filter_option(pval, val, text) BLOCK -%]
<option value="[% val %]"[% val == pval ? " selected='selected'" : "" %]>[% locale.maketext(text) %]</option>
[% END -%]
<form action="doeditcontact.html?account=[% FORM.account %]&amp;box=[% FORM.box %]" method="post">
<div class="highlight">
  <table border="0" style="margin-left: 20px">
    <tr>
      <td align="right">[% locale.maketext("CGPFirstName") %]:</td>
      <td><input type="text" name="GIVEN" style="width: 150px" value="[% vcard.N.GIVEN %]" /></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td align="right">[% locale.maketext("CGPMiddleName") %]:</td>
      <td><input type="text" name="MIDDLE" style="width: 150px" value="[% vcard.N.MIDDLE %]" /></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td align="right">[% locale.maketext("CGPFamilyName") %]:</td>
      <td><input type="text" name="FAMILY" style="width: 150px" value="[% vcard.N.FAMILY %]" /></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td align="right">[% locale.maketext("CGPCompany") %]:</td>
      <td><input type="text" name="ORGNAME" style="width: 150px" value="[% vcard.ORG.ORGNAME %]" /></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td align="right">[% locale.maketext("CGPDepartment") %]:</td>
      <td><input type="text" name="ORGUNIT" style="width: 150px" value="[% vcard.ORG.ORGUNIT %]" /></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td align="right">[% locale.maketext("CGPJobTitle") %]:</td>
      <td><input type="text" name="TITLE" style="width: 150px" value="[% vcard.TITLE.VALUE %]" /></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td align="right">[% locale.maketext("CGPBirthday") %]:</td>
      <td>
	<select name="BDAY">
	  <option value=""></option>
	  [% BDAY = vcard.BDAY.VALUE.split('-') %]
	  [% FOR i IN [1 .. 31] -%]
	  [% if = FILTER format('%02d'); i; END %]
	  [% filter_option(BDAY.2, if , if) %]
	  [% END -%]
	</select>
	<select name="BMONTH">
	  <option value=""></option>
	  [% months = ['', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'Ocober', 'November', 'December'] -%]
	  [% FOR i IN [1 .. 12] -%]
	  [% if = FILTER format('%02d'); i; END %]
	  [% filter_option(BDAY.1, if, locale.maketext( "CGP" _ months.$i)) %]
	  [% END -%]
	</select>
	<select name="BYEAR">
	  <option value=""></option>
	  [% FOR i IN [1900 .. YEAR] -%]
	  [% filter_option(BDAY.0, i, i) %]
	  [% END -%]
	</select>
      </td>
      <td colspan="2"></td>
   </table>
</div>
<h2>[% locale.maketext('CGPEmails') %]</h2>
<div class="highlight">
  <table border="0" style="margin-left: 20px" id="emailstable">
    [% CPANEL.CPVAR.id = 0 -%]
    [% FOR mail IN forceArray(vcard.EMAIL) -%]
    [% PROCESS cgpro/mail/contacts_emailrow.tmpl -%]
    [% CPANEL.CPVAR.id = loop.count %]
    [% END -%]
  </table>
  <p><a href="#" id="emailsclick">Add new</a><input type="hidden" name="emailcount" id="emailcount" value="[% CPANEL.CPVAR.id %]" /></p>
</div>
<h2>[% locale.maketext('CGPPhoneNumbers') %]</h2>
<div class="highlight">
  <table border="0" style="margin-left: 20px" id="telstable">
    [% CPANEL.CPVAR.id = 0 -%]
    [% FOR tel IN forceArray(vcard.TEL) -%]
    [% PROCESS cgpro/mail/contacts_telrow.tmpl -%]
    [% CPANEL.CPVAR.id = loop.count -%]
    [% END %]
  </table>
  <p><a href="#" id="telsclick">Add new</a><input type="hidden" name="telcount" id="telcount" value="[% CPANEL.CPVAR.id %]" /></p>
</div>
<h2>[% locale.maketext('CGPAddresses') %]</h2>
<div class="highlight">
  <table border="0" style="margin-left: 20px" id="addresstable">
    [% CPANEL.CPVAR.id = 0 -%]
    [% FOR adr IN forceArray(vcard.ADR) %]
    [% PROCESS cgpro/mail/contacts_addressrow.tmpl -%]
    [% CPANEL.CPVAR.id = loop.count -%]
    [% END %]
  </table>
  <p><a href="#" id="addresssclick">Add new</a><input type="hidden" name="addresscount" id="addresscount" value="[% CPANEL.CPVAR.id %]" /></p>
</div>
<h2>[% locale.maketext('CGPWebPages') %]</h2>
<div class="highlight">
  <table border="0" style="margin-left: 20px" id="wwwtable">
    [% CPANEL.CPVAR.id = 0 -%]
    [% FOR page IN forceArray(vcard.URL) %]
    [% PROCESS cgpro/mail/contacts_wwwrow.tmpl -%]
    [% CPANEL.CPVAR.id = loop.count -%]
    [% END %]
  </table>
  <p><a href="#" id="wwwsclick">Add new</a><input type="hidden" name="wwwcount" id="wwwcount" value="[% CPANEL.CPVAR.id %]" /></p>
</div>
<h2>[% locale.maketext('CGPAdditionalInfo') %]</h2>
<div class="highlight">
  <table border="0" style="margin-left: 20px">
    <tr>
      <td align="right">[% locale.maketext("CGPNickName") %]:</td>
      <td><input type="text" name="NICKNAME" style="width: 150px" value="[% vcard.NICKNAME.VALUE %]" /></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td align="right">[% locale.maketext("CGPBusinessCategory") %]:</td>
      <td><input type="text" name="ROLE" style="width: 150px" value="[% vcard.ROLE.VALUE %]" /></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td align="right">[% locale.maketext("CGPTimeZone") %]:</td>
      <td><input type="text" name="TZ" style="width: 150px" value="[% vcard.TZ.VALUE %]" /></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td align="right">[% locale.maketext("CGPGeoPosition") %]:</td>
      <td><input type="text" name="GEO" style="width: 150px" value="[% vcard.GEO.VALUE %]" /></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td align="right">[% locale.maketext("CGPNote") %]:</td>
      <td><input type="text" name="NOTE" style="width: 150px" value="[% vcard.NOTE.VALUE %]" /></td>
      <td colspan="2"></td>
    </tr> 
  </table>
</div>
<div class="highlight">
  <table border="0" style="margin-left: 20px">
    </tr>
    <td>
      <input type="hidden" name="oldMessageID" value="[% vcard.UID.VALUE.item('Message-ID') %]" />
      <input type="hidden" name="oldUID" value="[% FORM.contact %]" />
      <input id="new_email_submit" class="input-button" type="submit" value="[% locale.maketext("CGPSave") %]" name="save" />
    </td>
    <td></td>
    <td></td>
    </tr>
 </table>
</div>
</form>
<script type="text/javascript">
var getRow = function (e, data) {
    YAHOO.util.Event.preventDefault(e); 
    var wrap = YAHOO.util.Dom.get(data.wrap);
    var index = YAHOO.util.Dom.get(data.index);
    YAHOO.util.Connect.asyncRequest('GET', data.url + '?id=' + index.value, {
	    success: function(o) {
                wrap.innerHTML = wrap.innerHTML + o.responseText;
                var removers = YAHOO.util.Dom.getElementsByClassName('removerow');
 	        YAHOO.util.Event.addListener(removers, "click", removeRow);
	    },
		}, null);
    index.value = parseInt(index.value) + 1;
};
var removeRow = function (e) {
    YAHOO.util.Event.preventDefault(e);
    var row = this.parentNode.parentNode;
    var table = row.parentNode;
    table.removeChild(row);
};
YAHOO.util.Event.onDOMReady(function () {
 	YAHOO.util.Event.addListener("emailsclick", "click", getRow, {url: 'contacts_emailrow.html', wrap: 'emailstable', index: 'emailcount'});
 	YAHOO.util.Event.addListener("telsclick", "click", getRow, {url: 'contacts_telrow.html', wrap: 'telstable', index: 'telcount'});
 	YAHOO.util.Event.addListener("addresssclick", "click", getRow, {url: 'contacts_addressrow.html', wrap: 'addresstable', index: 'addresscount'});
 	YAHOO.util.Event.addListener("wwwsclick", "click", getRow, {url: 'contacts_wwwrow.html', wrap: 'wwwtable', index: 'wwwcount'});
        var removers = YAHOO.util.Dom.getElementsByClassName('removerow');
 	YAHOO.util.Event.addListener(removers, "click", removeRow);
    });
</script>
