<div class="section"> 
  <p>Do you really want to delete group “<%= group %>”?" %></p>
  <div class="form-group">
    <button id="delete_<%= index %>" class="btn btn-primary">Delete group</button>
    <button class="btn btn-link" id="btn_cancel_<%= index %>">Cancel</button>
  </div>
</div>
