[% IF hostname -%]
[% IF settings -%]
[% IF MSG -%]
<h2>[% MSG %]</h2>
[% END -%]
<form action="" method="post">
  <div class="form_action">
    <fieldset>
      <h3>Import SSL for host [% hostname %]</h3>
      <table>
	<tbody>
	  <tr>
            <td style="vertical-align: top;">
	      <label>Private Key:</label>
	      <sub>(Key must be with NO passphrase.)</sub>
	      [% IF settings.PrivateSecureKey -%]
	      <p><strong>Key is imported.</strong></p>
	      [% ELSE -%]
	      <p><strong>No key imported.</strong></p>
	      [% END -%]
	    </td>
            <td>
	      <textarea name="key" rows="12" cols="65"></textarea>
            </td>
          </tr>
	  <tr>
            <td style="vertical-align: top;">
	      <label>Certificate:</label>
	      [% IF settings.SecureCertificate -%]
	      <p><strong>Certificate is imported.</strong></p>
	      [% ELSE -%]
	      <p><strong>No certificate imported.</strong></p>
	      [% END -%]
	    </td>
            <td>
	      <textarea name="crt" rows="12" cols="65"></textarea>
            </td>
          </tr>
	  <tr>
            <td style="vertical-align: top;">
	      <label>Certificate Authority (Optional):</label>
	      [% IF settings.SecureCertificate -%]
	      <p><strong>CA is imported.</strong></p>
	      [% ELSE -%]
	      <p><strong>No CA imported.</strong></p>
	      [% END -%]
	    </td>
            <td>
	      <textarea name="ca" rows="12" cols="65"></textarea>
            </td>
          </tr>
	</tbody>
      </table>
    </fieldset>
  </div>
  <div class="form_action">
    <fieldset>
      <h3>SSL links in cPanel</h3>
      <table>
	<tbody>
	  <tr>
            <td style="vertical-align: top;">
	      <label for="ssllinks">Use SSL links for CommuniGate Pro services in cPanel:</label>
	    </td>
            <td>
	      <input type="checkbox" value="1" name="ssllinks" id="ssllinks"[% IF ssllinks; ' checked="checked"'; END %] />
            </td>
          </tr>
	</tbody>
      </table>
    </fieldset>
  </div>
  <p>
    <input type="submit" value="Save" class="input-button" name="submit" />
  </p>
</form>
[% ELSE -%]
<h2>Domain ([% hostname %]) not defined in CommuniGate!</h2>
[% END %]
[% ELSE -%]
<h2>Cannot determine hostname!</h2>
[% END %]
[% PROCESS addon_cgpro_footer.tmpl %]
