[% MACRO filter_option(pval, val, text) BLOCK -%]
<option value="[% val %]"[% val == pval ? " selected='selected'" : "" %]>[% cptext(text) %]</option>
[% END -%]
<link rel="stylesheet" type="text/css" href="[% MagicRevision('/yui/tabview/assets/skins/sam/tabview.css') %]" />
<script type='text/javascript' src="[% MagicRevision('/yui/tabview/tabview.js') %]"></script>
<script type="text/javascript">
  var tweakTabs = new YAHOO.widget.TabView('tweaktabs');
</script>

  <style type="text/css">
    #find_container {
    float: right;
    margin-left: 6px;
    margin-right: 6px;
    }

    .yui-navset {
    position: static;  /* override tabview.css */
    }
  </style>

  <style type="text/css">
    div.yui_tabview_scroll_tabs {
    position: relative;  /* IE7 */
    overflow: hidden;
    white-space: nowrap;
    }
    div.yui_tabview_scroll_tabs ul.yui-nav {
    position: relative;
    border-bottom-width: 0 ! important;
    }
    .scroll_button {
    background-color: #7697f0;
    display: inline-block;
    vertical-align: bottom;
    font-size: 11px;
    padding: 0.35em 0.5em;
    height: auto;
    color: #ffffff;
    cursor: pointer;
    }
    .scroll_button:hover {
    background-color: #5677d0;
    }
    div.scroll_button.scrolling,
    .scroll_button.scrolling:hover {
    background-color: #3657b0;
    }
    div.scroll_button.inactive {
    background-color: buttonface;
    color: graytext;
    cursor: default;
    }
    div.scroll_button.inactive:hover {
    background-color: buttonface;
    }
    div.scroll_button.hidden {
    visibility: hidden;
    }

    #left_scroll_button {
    float: left;
    margin: 1px 0.16em 0 0;
    height:18px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    }
    #right_scroll_button {
    float: right;    
    height:18px;
    margin: 1px 0 0 0.16em;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    }

    #scrolling_tabs li.last {
    margin-right: 0 ! important;
    }

    #alltweaks {
    clear:both;
    padding: 0;
    }

    div.help {
    margin: 12px 40px;
    float: none;
    }
  </style>

  <div class="tweaksettings">
    <div class="" style="align:left;">
      <div id="tweaktabs" class="yui-navset yui-navset-top">
	<div valign="bottom" id="scrolling_tabs_container">
	  <div class="yui_tabview_scroll_tabs" id="scrolling_tabs">
	    <ul class="yui-nav" id="yui_tabs">
	      <li[% UNLESS FORM.submitdialin || FORM.submitdialout %] class="selected"[% END %]>
		<a href="#tab_number">
		  <em>Number</em>
		</a>
	      </li>
	    </ul>
	  </div>
	</div> <!-- END TABS -->
	<div id="alltweaks" class="yui-content"  style="border: none">
	  <div id="tab_number">
	    <form method="post" action="" >
	      <table class="datatable brick" cellspacing="0" cellpadding="5" width="100%" border="0" align="center" style="border: 1px solid #808080;">
		<tbody>
 		  <tr class="tdshade1_noborder">
		    <td nowrap="nowrap" align="RIGHT">Telephone number:</td>
		    <td nowrap="nowrap">
		      <input type="text" name="telnum" value="" />
		    </td>
		  </tr>	    
 		  <tr class="tdshade2_noborder">
		    <td nowrap="nowrap" align="RIGHT">Assigned to:</td>
		    <td nowrap="nowrap">
		      <input type="text" name="assigned" value=""  />
		      <span id="name_error"></span>
		    </td>
		  </tr>	    
		  [% IF prefs.Gateways.$provider.callInGw.proxyType == "registrar" -%]
 		  <tr class="tdshade1_noborder">
		    <td nowrap="nowrap" align="RIGHT">Gateway Host:</td>
		    <td nowrap="nowrap">
		      <input type="text" name="host" value="" />
		    </td>
		  </tr>	    
 		  <tr class="tdshade1_noborder">
		    <td nowrap="nowrap" align="RIGHT">Account:</td>
		    <td nowrap="nowrap">
		      <input type="text" name="username" value="" />
		    </td>
		  </tr>	    
 		  <tr class="tdshade2_noborder">
		    <td nowrap="nowrap" align="RIGHT">Authentication name:</td>
		    <td nowrap="nowrap">
		      <input type="text" name="authname" value="" autocomplete="off" />
		      <span id="name_error"></span>
		    </td>
		  </tr>	    
 		  <tr class="tdshade2_noborder">
		    <td nowrap="nowrap" align="RIGHT">Password:</td>
		    <td nowrap="nowrap">
		      <input type="password" name="password" value="" autocomplete="off" />
		      <span id="name_error"></span>
		    </td>
		  </tr>	    
 		  <tr class="tdshade1_noborder">
		    <td nowrap="nowrap" align="RIGHT">Register every:</td>
		    <td nowrap="nowrap">
		      <select name="expires">
 			[% filter_option("", "2m", "2 min") %]
 			[% filter_option("", "3m", "3 min") %]
 			[% filter_option("", "5m", "5 min") %]
 			[% filter_option("", "10m", "10 min") %]
 			[% filter_option("", "15m", "15 min") %]
 			[% filter_option("30m", "30m", "30 min") %]
 			[% filter_option("", "1h", "1 hour") %]
 			[% filter_option("", "2h", "2 hours") %]
 			[% filter_option("", "3h", "3 hours") %]
 			[% filter_option("", "4h", "4 hours") %]
 			[% filter_option("", "5h", "5 hours") %]
 			[% filter_option("", "6h", "6 hours") %]
 			[% filter_option("", "7h", "7 hours") %]
 			[% filter_option("", "8h", "8 hours") %]
 			[% filter_option("", "10h", "10 hours") %]
 			[% filter_option("", "12h", "12 hours") %]
 			[% filter_option("", "24h", "24 hours") %]
		      </select>
		    </td>
		  </tr>	    
		  [% END -%]
		</tbody>
	      </table>
	      <p>
		<input type="submit" name="submitedit" value="Save" class="input-button" id="activate-button" />
		<a href="addon_cgpro_gateways_edit.cgi?provider=[% FORM.provider %]">Back</a>
	      </p>
	    </form>
	  </div> <!-- END providers -->
	</div>
      </div>
    </div>
  </div>
[% PROCESS addon_cgpro_footer.tmpl %]
