/* boxtrapper list pages style */
* html .cpanel_text_area{
	height:200px;
}
.cpanel_text_area{
	width:510px;
	min-height:200px;
	overflow:auto;
	border:1px solid #ACCCB8;
}
.example_tbl {
	border-collapse:collapse;
	border:1px solid #ACCCB8;
}
.example_tbl th{
		background-color:#F3F3F3;
	font-weight:bold;
	font-size:12px;
	padding:10px 8px;
	color:#333;
}
.example_div{
	float:right;width:180px;
}
.example_tbl td{
	color:#333;
	padding:8px 8px 8px;
}
