/* mx page specific styles*/
ul.mxcheck_autolist {
    list-style-type:disc;
    margin-top: 0;
}
.mxcheck_autolist li {
	padding: 3px 0;
}
ul.mx_list{
	margin: 0 5px 15px;
	padding: 0;
}
ul.mx_list li{
	list-style:disc;
	padding: 0;
	margin:3px 0 0 10px;
}
#mx_input_table_and_table lable{
	font-size:11px;
}
.label_wraps{
	margin: 0 0 10px 0;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.label_txt{
	font-size: 12px;
}
.highlight-accordian-desc{
	padding-top: 5px;
}