<table border="0" cellpadding="5" cellspacing="0" id="mailtbl" class="sortable" width="650">
  <tr>
    <th class="cell">[% locale.maketext("CGPAccountType") %]</th>
    <th class="cell">[% locale.maketext("CGPAccountTypeFeatures") %]</th>
    <th class="cell">[% locale.maketext("CGPDefaultMaxAccounts") %]</th>
    <th class="cell">[% locale.maketext("CGPAdditionalAccounts") %]</th>
    <th class="cell">[% locale.maketext("CGPPricePerAdditionalAccounts") %]</th>
    <th class="cell">[% locale.maketext("CGPDescription") %]</th>
  </tr>
  [% FOREACH class IN classes.keys.sort -%]
  [% UNLESS plan.$class.all == 0 -%]
  <tr>
    <td><strong>[% class %]</strong></td>
    <td>
      [% IF classes.$class.AccessModes == 'All' -%]
      Mail, Relay, Signal, TLS, POP, IMAP, MAPI, AirSync, SIP, XMPP, WebMail, XIMSS, FTP, ACAP, PWD, LDAP, RADIUS, S/MIME, WebCAL, WebSite, PBX, HTTP, MobilePBX, XMedia, YMedia, MobilePronto
      [% ELSE -%]
      [% first = classes.$class.AccessModes.shift; classes.$class.AccessModes.join(', ') %]
      [% END -%]
    </td>
    <td>[% plan.$class.all < 0 ? locale.maketext("CGPunlimited") : plan.$class.all %]</td>
    <td>[% plan.$class.all < 0 ? locale.maketext("CGPna") : account.$class.all || 0 %]</td>
    <td>[% description.$class.price ? description.$class.currency _ " " _ description.$class.price : locale.maketext("CGPna")  %]</td>
    <td>[% description.$class.description %]</td>
  </tr>
  [% END -%]
  [% END -%]
</table>
