[% MACRO filter_option(pval, val, text) BLOCK -%]
<option value="[% val %]"[% val == pval ? " selected='selected'" : "" %]>[% cptext(text) %]</option>
[% END -%]
<div class="highlight2">
  <table border="0">
    <tr>
      <td>[% locale.maketext('CGPQueueName') %]:</td>
      <td>
	<input type="text" name="queueName" value="[% name %]" />
	<input type="hidden" name="queue" value="[% FORM.queue %]" />
      </td>
      <td></td>
    </tr>
    <tr>
      <td>[% locale.maketext('CGPCallDepartment') %]:</td>
      <td>
	<select name="department" id="department">
	  [% FOR dep IN departments -%]
	  [% filter_option(department, dep, dep) %]
	  [% END -%]
	</select>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>[% locale.maketext('CGPExtension') %]:</td>
      <td>
	<select name="extension" id="extension">
	  [% domain = FORM.queue.split('@').1 %]
	  [% filter_options("", "", "---") %]
	  [% IF accounts.$account.extension -%]
	  [% filter_options(accounts.$account.extension, accounts.$account.extension, accounts.$account.extension.split('-').1 ) %]
	  [% END -%]
	  [% FOR ex IN freeExtensions.$domain -%]
	  [% filter_options(accounts.$account.extension, ex, ex.split('-').1) %]
	  [% END -%]
	</select>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>[% locale.maketext('CGPLocalExtension') %]:</td>
      <td>
	<input type="text" name="localExtension" id="localExtension" value="[% localExtension %]" />
      </td>
      <td>
	<span id="localExtension_error" class="cjt_validation_error">
      </td>
    </tr>
    <tr>
      <td>[% locale.maketext('CGPAgentToggleExtension') %]:</td>
      <td>
	<input type="text" name="agentExtension" id="agentExtension" value="[% agentExtension %]" />
      </td>
      <td>
	<span id="agentExtension_error" class="cjt_validation_error">
      </td>
    </tr>
  </table>
</div>
<script type="text/javascript">
var verify_local_extension_local = function (e) {
    return CPANEL.validate.positive_integer(e) && CPANEL.validate.greater_than(e,200) && CPANEL.validate.less_than(e,1000);
};
var getExtensions = function () {
    var select = YAHOO.util.Dom.get("department");
    var wrap = YAHOO.util.Dom.get("extension");
    wrap.innerHTML = "";
    YAHOO.util.Connect.asyncRequest('GET', 'getextensions.html?domain=' + select.value.split("@")[1], {
	    success: function(o) {
		wrap.innerHTML = o.responseText;
	    },
		}, null);
};
YAHOO.util.Event.onDOMReady(function () {
	getExtensions();
	YAHOO.util.Event.addListener("department", "change", getExtensions);
	var VAL_LOCAL_EXT = new CPANEL.validate.validator(LANG.local_extension_input);
	VAL_LOCAL_EXT.add("localExtension", 'if_not_empty(%input%,verify_local_extension_local)', YAHOO.lang.substitute(LANG.local_extension_input_invalid,{min: 200, max: 999}));
	VAL_LOCAL_EXT.attach();
	var VAL_AGENT_EXT = new CPANEL.validate.validator(LANG.local_extension_input);
	VAL_AGENT_EXT.add("agentExtension", 'if_not_empty(%input%,verify_local_extension_local)', YAHOO.lang.substitute(LANG.local_extension_input_invalid,{min: 200, max: 999}));
	VAL_AGENT_EXT.attach();
	CPANEL.validate.attach_to_form("activate-button", [VAL_LOCAL_EXT, VAL_AGENT_EXT]);
    });

</script>
