[% MACRO filter_option(pval, val, text) BLOCK -%]
<option value="[% val %]"[% val == pval ? " selected='selected'" : "" %]>[% cptext(text) %]</option>
[% END -%]
<form action="doeditrsip.html?account=[% FORM.account %]" method="post">
<div class="highlight">
  <table border="0" style="margin-left: 20px">
    <tr>
      <td align="right">[% locale.maketext("CGPDisplayName") %]:</td>
      <td><input type="text" name="name" id="name" style="width: 150px" value="[% FORM.rsip %]"[% IF FORM.rsip %] readonly=""[% END %] /></td>
      <td colspan="2">	<span id="name_error" class="cjt_validation_error"></span></td>
    </tr>
    <tr>
      <td align="right">[% locale.maketext("CGPAccount") %]:</td>
      <td><input type="text" name="fromName" id="fromName" style="width: 150px" value="[% rsip.fromName %]" /></td>
      <td colspan="2">	<span id="fromName_error" class="cjt_validation_error"></span></td>
    </tr>
    <tr>
      <td align="right">[% locale.maketext("CGPHost") %]:</td>
      <td><input type="text" name="domain" id="domain" style="width: 150px" value="[% rsip.domain %]" /></td>
      <td colspan="2"><span id="domain_error" class="cjt_validation_error"></span></td>
    </tr>
    <tr>
      <td align="right">[% locale.maketext("CGPAuthenticationName") %]:</td>
      <td><input type="text" name="authName" id="authName" style="width: 150px" value="[% rsip.authName %]" /></td>
      <td colspan="2">	<span id="authName_error" class="cjt_validation_error"></span></td>
    </tr>
    <tr>
      <td align="right">[% locale.maketext("CGPPassword") %]:</td>
      <td><input type="password" name="password" id="password" style="width: 150px" value="[% rsip.password %]" /></td>
      <td colspan="2"><span id="password_error" class="cjt_validation_error"></span></td>
    </tr>
    <tr>
      <td align="right">[% locale.maketext("CGPTarget") %]:</td>
      <td><input type="text" name="targetName" style="width: 150px" value="[% rsip.targetName %]" /></td>
      <td colspan="2"></td>
    </tr>
    <tr>
      <td align="right">[% locale.maketext("CGPPullEvery") %]:</td>
      <td>
	<select name="period">
	  [% filter_option( rsip.period || "600s", "120s" , "2m") %]
	  [% filter_option( rsip.period || "600s", "180s" , "3m") %]
	  [% filter_option( rsip.period || "600s", "300s" , "5m") %]
	  [% filter_option( rsip.period || "600s", "600s" , "10m") %]
	  [% filter_option( rsip.period || "600s", "750s" , "15m") %]
	  [% filter_option( rsip.period || "600s", "1200s" , "20m") %]
	  [% filter_option( rsip.period || "600s", "1800s" , "30m") %]
	  [% filter_option( rsip.period || "600s", "3600s" , "60m") %]
	  [% filter_option( rsip.period || "600s", "7200s" , "2h") %]
	  [% filter_option( rsip.period || "600s", "10800s" , "3h") %]
	  [% filter_option( rsip.period || "600s", "18000s" , "5h") %]
	  [% filter_option( rsip.period || "600s", "21600s" , "6h") %]
	  [% filter_option( rsip.period || "600s", "22800s" , "8h") %]
	  [% filter_option( rsip.period || "600s", "86400s" , "24h") %]
	  [% filter_option( rsip.period || "600s", "1000000000s" , "CGPDisabled") %]
	</select>
      </td>
      <td colspan="2"></td>
    </tr>
  </table>
</div>
<div class="highlight">
  <table border="0" style="margin-left: 20px">
    </tr>
    <td>
      <input type="hidden" name="oldMessageID" value="[% vcard.UID.VALUE.item('Message-ID') %]" />
      <input type="hidden" name="oldUID" value="[% FORM.contact %]" />
      <input id="submit" class="input-button" type="submit" value="[% locale.maketext("CGPSave") %]" name="save" />
    </td>
    <td></td>
    <td></td>
    </tr>
 </table>
</div>
</form>
<script type="text/javascript">
  var LANG = {};
   LANG.name_input = '[% locale.maketext("CGPDisplayName") %]';
   LANG.authname_input = '[% locale.maketext("CGPAuthenticationName") %]';
   LANG.fromname_input = '[% locale.maketext("CGPAccount") %]';
   LANG.domain_input = '[% locale.maketext("CGPHost") %]';
   LANG.password_input = '[% locale.maketext("CGPPassword") %]';
    LANG.name_input_invalid = '[% locale.maketext("CGPThisFieldIsRequired") %]!';
      YAHOO.util.Event.onDOMReady(function () {
      var VAL_NAME = new CPANEL.validate.validator(LANG.name_input);
      VAL_NAME.add("name", 'min_length(%input%,1)', LANG.name_input_invalid);
      VAL_NAME.attach();

      var VAL_AUTHNAME = new CPANEL.validate.validator(LANG.authname_input);
      VAL_AUTHNAME.add("authName", 'min_length(%input%,1)', LANG.name_input_invalid);
      VAL_AUTHNAME.attach();

      var VAL_FROMNAME = new CPANEL.validate.validator(LANG.fromname_input);
      VAL_FROMNAME.add("fromName", 'min_length(%input%,1)', LANG.name_input_invalid);
      VAL_FROMNAME.attach();

      var VAL_DOMAIN = new CPANEL.validate.validator(LANG.domain_input);
      VAL_DOMAIN.add("domain", 'min_length(%input%,1)', LANG.name_input_invalid);
      VAL_DOMAIN.attach();

      var VAL_PASSWORD = new CPANEL.validate.validator(LANG.password_input);
      VAL_PASSWORD.add("password", 'min_length(%input%,1)', LANG.name_input_invalid);
      VAL_PASSWORD.attach();


      CPANEL.validate.attach_to_form("submit", [VAL_NAME, VAL_FROMNAME, VAL_AUTHNAME, VAL_DOMAIN, VAL_PASSWORD]);
      });
</script>
