s<h2>[% locale.maketext("CGPAssignExtension") %]</h2>
<form id="mainform" method="post" action="" name="mainform">
  <div class="highlight">
    <table border="0" style="margin-left: 20px">
      <tr>
	<td align="right">[% locale.maketext("CGPAssignTo") %]:</td>
	<td>
	  <select name="account" id="account">
	    [% FOR account = accounts.keys.sort -%]
	    [% myclass = accounts.$account.details.ServiceClass; myclass -%]
	    [% classstring = classes.$myclass.AccessModes.join(',') -%]
	    [% IF classstring == 'All' || classstring.search("SIP") -%]
	    <option value="[% account %]">[% account %] ([% locale.maketext("CGPAccount") %])</option>
	    [% END -%]
	    [% END -%]
	    [% FOR account = departments -%]
	    <option value="[% account %]">[% account %] ([% locale.maketext("CGPDepartment") %])</option>
	    [% END -%]
	  </select>
	</td>
	<td colspan="2"><div id="realanem_error"></div></td>
      </tr>
      <tr>
	<td align="right">[% locale.maketext("CGPExtension") %]:</td>
	<td>
	  <select name="extension" id="extension">
	    <option value="">Please Select 'Assign to' first</option>
	  </select>
	</td>
	<td colspan="2"><div id="realanem_error"></div></td>
      </tr>
      <tr>
	<td></td>
	<td><input id="new_email_submit" class="input-button" type="submit" value="[% locale.maketext("CGPAssignExtension") %]" tabindex="5" /></td>
	<td></td>
      </tr>
    </table>
  </div>
</form>
<h2>[% locale.maketext("CGPAssignLocalExtension") %]</h2>
<form id="mainform" method="post" action="" name="mainform">
  <div class="highlight">
    [% IF CPANEL.CPERROR.CommuniGate_local_extension -%]
    <pre>
      [% CPANEL.CPERROR.CommuniGate_local_extension | ucfirst %].
    </pre>
    [% END -%]
    <table border="0" style="margin-left: 20px">
      <tr>
	<td align="right">[% locale.maketext("CGPAssignTo") %]:</td>
	<td>
	  <select name="account">
	    [% FOR account = accounts.keys.sort -%]
	    [% myclass = accounts.$account.details.ServiceClass; myclass -%]
	    [% classstring = classes.$myclass.AccessModes.join(',') -%]
	    [% IF classstring == 'All' || classstring.search("SIP") -%]
	    <option value="[% account %]">[% account %] ([% locale.maketext("CGPAccount") %])</option>
	    [% END -%]
	    [% END -%]
	    [% FOR account = departments -%]
	    <option value="[% account %]">[% account %] ([% locale.maketext("CGPDepartment") %])</option>
	    [% END -%]
	  </select>
	</td>
	<td colspan="2"></td>
      </tr>
      <tr>
	<td align="right">[% locale.maketext("CGPLocalExtension") %]:</td>
	<td>
	  <input type="text" name="local_extension" id="local_extension" />
	</td>
	<td colspan="2"><div id="local_extension_error"></div></td>
      </tr>
      <tr>
	<td></td>
	<td><input id="add_local_extension" class="input-button" type="submit" value="[% locale.maketext("CGPAssignLocalExtension") %]" tabindex="5" /></td>
	<td></td>
      </tr>
    </table>
  </div>
</form>
<script type="text/javascript">
var LANG = {};
LANG.local_extension_input = "[% locale.maketext("CGPLocalExtension") %]";
LANG.local_extension_input_invalid = "[% locale.maketext('CGPLocalExtensionInvalid','{min}', '{max}') %]";
CPANEL.validate.verify_local_extension_local = function (e) {
    return CPANEL.validate.positive_integer(e) && CPANEL.validate.greater_than(e,200) && CPANEL.validate.less_than(e,1000);
};
var getExtensions = function () {
    var select = document.getElementById("account");
    var wrap = document.getElementById("extension");
    wrap.innerHTML = "";
    YAHOO.util.Connect.asyncRequest('GET', 'getextensions.html?domain=' + select.value.split("@")[1], {
	    success: function(o) {
		wrap.innerHTML = o.responseText;
	    },
		}, null);
};
YAHOO.util.Event.onDOMReady(function () {
	getExtensions();
	YAHOO.util.Event.addListener("account", "change", getExtensions);
	var VAL_LOCAL_EXT = new CPANEL.validate.validator(LANG.local_extension_input);
	VAL_LOCAL_EXT.add("local_extension", 'verify_local_extension_local', YAHOO.lang.substitute(LANG.local_extension_input_invalid,{min: 200, max: 999}));
	VAL_LOCAL_EXT.attach();
	CPANEL.validate.attach_to_form("add_local_extension", [VAL_LOCAL_EXT]);
    });
</script>
