[% MACRO filter_option(pval, val, text) BLOCK -%]
<option value="[% val %]"[% val == pval ? " selected='selected'" : "" %]>[% cptext(text) %]</option>
[% END -%]
<div class="highlight2">
  <form action="" method="GET" id="selectAccount">
    <label>[% locale.maketext("CGPAccount") %]:</label>
    <select id="account" onchange="toggle_account()" name="account">
      [% filter_option(account, "", "CGPPleaseSelect") %]
      [% FOR account IN accounts.sort -%]
      [% myclass = accounts.$account.class -%]
      [% classstring = classes.$myclass.AccessModes.join(',') -%]
      [% IF classstring.search("XMPP") || classstring == "All" -%]
      [% filter_option(FORM.account, account, account) %]
      [% END -%]
      [% END -%]
    </select>
  </form>
  <script type="text/javascript">
    function toggle_account () {
    document.getElementById("selectAccount").submit();
    }
  </script>
</div>
