[%
 SET account = CPANEL.get_raw_form('account');
%]

<h2>Setup</h2>
<table class="settings settings_ssl">
  <tbody>
    <tr>
      <td>Username/JabberID:</td>
      <td class="data"><strong>[% account %]</strong></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td class="escape-note"><em>( Use the email account’s password. )</em></td>
    </tr>
    <tr>
      <td>Server:</td>
      <td class="data">
	<strong>mail.[% account.split('@').1 %]</strong>
      </td>
    </tr>
    <tr>
      <td>Port:</td>
      <td><strong>5222</strong></td>
    </tr>
  </tbody>
</table>
