[%
USE Api2;

SET userprivs = Api2.exec( 'MysqlFE', 'userdbprivs', {
    user => CPANEL.get_raw_form('user'),
    db   => CPANEL.get_raw_form('db'),
} ).0;

SET all_privs = userprivs.exists('ALLPRIVILEGES');

SET privs = Api2.exec( 'MysqlFE', 'listmysqlprivs' );
-%]

<table cellpadding="0" style="width:500px" cellspacing="0" class="nonsortable" id="privs_table">
    <colgroup>
        <col width="50%" />
        <col width="50%" />
    </colgroup>
        <tr>
            <th colspan="2" class="info-heading"><label><input type="checkbox" name="ALL" id="ALL" value="ALL" [% all_privs ? 'checked="checked"' : '' %] /> [% locale.maketext('PRIVALL') %]</label></th>
        </tr>
[% FOR cur_priv = privs -%]
    [% SET priv_no_spaces = cur_priv.replace(' ','') -%]
    [% SET tdclass = (loop.index % 4 < 2) ? 'info-odd' : 'info-even' -%]
    [% IF !(loop.index % 2) -%]
        <tr>
    [% END -%]
            <td class="[% tdclass %]"><label><input type="checkbox" name="[% priv_no_spaces %]" [% ( all_privs || userprivs.exists(priv_no_spaces) ) ? 'checked="checked"' : '' %] value="[% priv_no_spaces %]" class="user_right" /> [% cur_priv %]</label></td>
    [% IF (loop.index % 2) -%]
        </tr>
    [% END -%]
[% END -%]
[% IF privs.size % 2 -%]
    <td>&nbsp;</td>
[% END -%]
</table>

<script type="text/javascript">
//<![CDATA[

var USER_RIGHTS;

var checkallprivs = function() {
    var all_checked = DOM.get("ALL").checked;
    USER_RIGHTS.forEach( function(i) { i.checked = all_checked } );
};

var checkprivs = function() {
    DOM.get("ALL").checked = USER_RIGHTS.every( function(i) { return i.checked } );
};

var init_user_rights = function() {
    EVENT.on("ALL", "click", checkallprivs);
    USER_RIGHTS = DOM.getElementsByClassName("user_right", "input", "privs_table")
    EVENT.on(USER_RIGHTS, "click", checkprivs);
};
YAHOO.util.Event.onDOMReady(init_user_rights);
//]]>
</script>
