[%# the actual hotlinks is the zeroth index of the arrayOfHash. this is not ideal. -%]
[% SET aoh = Api.exec('Mime', 'list_hotlinks') -%]
[% SET hotlinks = aoh.0 %]

[% IF CPANEL.CPERROR.exists('mime') %]
<p class="errors">[% CPANEL.CPERROR.mime %]</p>
[% END -%]

<span class="status">[% locale.maketext("HLStatusText") %]&nbsp;[% hotlinks.status %].</span>&nbsp;
<form action="delhotlink.html" style="display: inline">
	<input id="hldis" type="submit" class="input-button" value="[% locale.maketext("HLDis") %]" />
</form>
<form action="addhotlink.html" method="post" style="display: inline">
	<input id="hlenable" type="submit" class="input-button" value="[% locale.maketext("Enable") %]" />
<script type="text/javascript">
//<![CDATA[
// TODO: set a CPVAR with linkenable() so we don't have to do this with javascript
var toggle_enable_disable_buttons = function() {
	if ("[% hotlinks.status %]" == "disabled") {
		YAHOO.util.Dom.get("hldis").style.display = "none";
	}
	else {
		YAHOO.util.Dom.get("hlenable").style.display = "none";
	}
};
YAHOO.util.Event.onDOMReady(toggle_enable_disable_buttons);
//]]>
</script>
	<br /><br />
	
	<h2>[% locale.maketext("HLConfig") %]:</h2>
	<p><strong>[% locale.maketext("HLPAllowedURLs") %]:</strong></p>
	<textarea cols="80" rows="6" name="urls">[% hotlinks.urls.join("\n") %]</textarea>
	<br />
	<br />
	<p><strong>[% locale.maketext("HLPExtAllow") %]:</strong></p>
	<textarea cols="80" rows="2" name="exts">[% hotlinks.extensions %]</textarea>
	<br />
	<input type="checkbox" id="allow_direct_requests" name="allownull" value="1" [% hotlinks.allow_null ? 'checked' : '' %] /> <label for="allow_direct_requests">[% locale.maketext("HLAllowDirectReq") %]</label>
	<br /><br />
	<p><strong>[% locale.maketext("HLPURLDir") %]:</strong></p>
	<input type="text" name="rurl" size="40" value="[% hotlinks.redirect_url %]" /><br />
	<br />
	
  <p>[% locale.maketext('[output,strong,Note:] The “Allow direct requests” checkbox must be checked when using HotLink Protection for files that you wish to be viewed in QuickTime (Mac Users) by your site\'s visitors.') %]</p>
	<input type="submit" value="[% locale.maketext("Submit") %]" class="input-button" />
</form>

