[%
USE Api2;
USE CPList;
USE JSON;

SET js_lang = {
	'SZE_added_record'        => 'ZE_added_record',
	'SZE_adding_record'       => 'ZE_adding_record',
	'SZE_deleting_record'     => 'MX_deleting_record',
	'SZE_not_valid_zone_name' => 'SZE_not_valid_zone_name',
	'SZE_address_valid_ip'    => 'ZE_address_valid_ip',
	'SZE_address_not_local'   => 'ZE_address_not_local_ip',
	'SZE_name_reserved'       => 'SZE_name_reserved',
	'SZE_address_fqdn'        => 'SZE_address_fqdn',
	'cname_unique1'           => 'Name matches an existing CNAME.',
	'cname_unique2'           => 'All CNAMEs must be unique.',
};
FOR pair = js_lang;
    js_lang.${pair.key} = locale.maketext(pair.value);
END;

SET ip_result = Api2.exec('DnsLookup', 'name2ip', {'domain' => CPANEL.CPDATA.DNS});
SET base_domains_result = Api2.exec('DomainLookup','getbasedomains');
SET cpanel_domains = Api2.exec('ZoneEdit','fetch_cpanel_generated_domains').ofeach('domain').grep('.');

SET domain_ip = ip_result.0.ip || CPANEL.CPDATA.IP;
-%]
<div class="body-content">

<div class="h1Title"><div class="spriteicon_img_mini" id="icon-simplezoneedit_mini"></div>[% locale.maketext('simplezoneedit_head') %]</div>

<p class="description">[% locale.maketext('DNS is the component of the Internet which converts human-readable domain names (e.g. [_1]) into computer-readable IP addresses (e.g. [_2]). It does this according to DNS zone files that reside on your server which tie domain names to IP addresses.', CPANEL.CPDATA.DNS, domain_ip) %]</p>
<p class="description">[% locale.maketext('SimpleDNSDesc2') %]</p>

[% IF base_domains_result.size == 1 -%]
<input type="hidden" id="domain" value="[% base_domains_result.0.domain FILTER html %]" />

[% ELSIF base_domains_result.size > 1 -%]
<h4>[% locale.maketext('SLSelectDomain') %]</h4>
<div class="highlight">
	<div id="domain_select_exists" style="display: none"></div>
	<table cellspacing="0" cellpadding="3"><tr>
		<td class="col1">[% locale.maketext('SLDomain') %]:</td>
		<td class="col2">
			<select id="domain">
				<option value="_select_">[% locale.maketext('MXSelectDomain') %]...</option>
[% FOR domain_data = base_domains_result -%]
                <option value="[% domain_data.domain %]">[% domain_data.domain %]</option>
[% END -%]
			</select>
		</td>
	</tr></table>
</div>
[% END -%]

<div id="add_record_and_zone_table" [% IF base_domains_result.size > 1; 'style="display: none"'; END %]>
<h4>[% locale.maketext('DNSAddARec') %]</h4>
<div class="highlight">
<table cellspacing="0" cellpadding="3" style="margin-bottom: 5px">
	<tr>
		<td class="col1">[% locale.maketext('GBName') %]</td>
		<td class="col2"><input class="input_text" type="text" id="A_name" value="" /></td>
		<td><div id="A_name_error"></div></td>
	</tr>
	<tr>
		<td class="col1">[% locale.maketext('EMAILAddress') %]:</td>
		<td class="col2"><input class="input_text" type="text" id="A_address" /></td>
		<td><div id="A_address_error"></div></td>
	</tr>
	<tr>
		<td class="col1"></td>
		<td colspan="2">
            <div id="add_A_record_button"><input type="submit" class="input-button" value="[% locale.maketext('add_record') FILTER html %]" id="A_submit" /></div>
            <span id="add_A_record_status"></span>
        </td>
	</tr>
</table>
<div id="add_A_record_status_bar" style="margin:0 -5px" class="cjt_status_bar"></div>

</div>

<h4>[% locale.maketext('DNSAddCNAME') %]</h4>
<div class="highlight">
<table cellspacing="0" cellpadding="3" style="margin-bottom: 5px">
	<tr>
		<td class="col1">[% locale.maketext('GBName') %]</td>
		<td class="col2"><input class="input_text" type="text" id="CNAME_name" value="" /></td>
		<td><div id="CNAME_name_error"></div></td>
	</tr>
	<tr>
		<td class="col1">[% locale.maketext('DNSCNAME') %]:</td>
		<td class="col2"><input class="input_text" type="text" id="CNAME_cname" /></td>
		<td><div id="CNAME_cname_error"></div></td>
	</tr>
	<tr>
		<td class="col1"></td>
		<td colspan="2">
            <div id="add_CNAME_record_button"><input type="submit" class="input-button" value="[% locale.maketext('Add CNAME Record') FILTER html %]" id="CNAME_submit" /></div>
            <span id="add_CNAME_record_status"></span>
        </td>
	</tr>
</table>

<div id="add_CNAME_status_bar" style="margin:0 -5px" class="cjt_status_bar"></div>
</div>

<h4>[% locale.maketext('DNSUserDefRecs') %]</h4>
<div id="user_records_div"></div>

</div><!-- end add_record_and_zone_table -->

</div><!-- end body-content div -->

<script type="text/javascript">
//<![CDATA[
var CPANEL_CONTROLLED_DOMAINS = [% cpanel_domains.json() %];
var LANG = [% js_lang.json() %];
//]]>
</script>
