<div class="pull-right managing-menu">
  <div class="form-inline">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 managing-label-wrap">
	<label for="select-manage" class="control-label">Managing:</label>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	<select id="select-manage" class="form-control">
	  <% for (var i = 0; i < accounts.length; i++) { %>
	     <option value="<%= accounts[i].username + '@' + accounts[i].domain %>" <% if (accounts[i].username + '@' + accounts[i].domain == selected) { %>selected<% } %> ><%= accounts[i].username + '@' + accounts[i].domain %></option>
	     <% } %>
	</select>
      </div>
    </div>
  </div>
</div>
