[% SET CPANEL.CPVAR.dprefix = "../../../"; %]

[% WRAPPER '_assets/master.html.tt'
app_key = 'cgpro_rpop'
-%] 
<link rel="stylesheet" type="text/css" href="js/main.css">

<div class="body-content">
  [% IF CPANEL.feature('cgpro_rpop') %]
  <div id="main-loading"></div>
  <div id="managing-menu"></div>
  <div id="rpop-table"></div>
  <div id="add-rpop"></div>
  [% END %]
  <script src="js/ejs_production.js"></script>
  <script src="js/rpop.js"></script>
</div>
[% END %]

