[% MACRO filter_option(pval, val, text) BLOCK -%]
<option value="[% val %]"[% val == pval ? " selected='selected'" : "" %]>[% locale.maketext(text) %]</option>
[% END -%]
[% IF CPANEL.CPVAR.maildomainscount > 1 -%]
<div class="highlight2">
  <form action="" method="GET" id="selectDomain">
    [% locale.maketext("LP-Domain") %]:&nbsp;
    <select id="domain" onchange="toggle_domain()" name="domain">
      [% FOR dom IN CPANEL.CPDATA.DOMAINS -%]
      [% filter_option(FORM.domain, dom, dom) %]
      [% END -%]
    </select>
  </form>
  <script type="text/javascript">
    function toggle_domain () {
    document.getElementById("selectDomain").submit();
    }
  </script>
</div>
[% END -%]
<p class="description">
  [% locale.maketext('DNS SRV records supplement the Domain you manage with information that will allow such services like Instant Messaging and VoIP to work better with other companies and people. You can read more technical information about DNS SRV records in the Wikipedia:') %]
    <a href="http://en.wikipedia.org/wiki/SRV_record">http://en.wikipedia.org/wiki/SRV_record</a>
</p>
<h2>[% locale.maketext("CGPJabberXMPP") %]</h2>
<p class="description">
  [% locale.maketext('By enabling this setting external XMPP (Jabber) based Instant Messaging servers will be able to send you buddy requests and chat messages. This setting is particularly important for people using Gtalk. Once this is enabled, you should be able to "request a buddy" from google (user@gmail.com) in your IM client. In addition, when servers using Jabber or MS Lync are properly configured, you will be able to add these colleagues or friends to your Buddy list and they will be able to see when you are online or not.') %]
</p>
<p class="description">
  [% locale.maketext('Note: External systems using Jabber must also have properly configured SRV records in their DNS for the two-way communication to work properly.') %]
</p>
[% IF CPANEL.CPVAR.xmpp_enabled -%]
  <p>
    <span class="success">[% locale.maketext("BrandingEnabled") %]</span>
    <a class="input-button" href="set_xmpp.html?domain=[% FORM.domain %]&action=uninstall">[% locale.maketext("HLDis") %]</a>
  </p>
  [% ELSE -%]
  <p>
    <span class="disabled">[% locale.maketext("Disabled") %]</span>
    <a class="input-button" href="set_xmpp.html?domain=[% FORM.domain %]&action=install">[% locale.maketext("Enable") %]</a>
  </p>
[% END -%]
<h2>[% locale.maketext("CGPSIP") %]</h2>
<p class="description">
  [% locale.maketext("'By enabling this setting you will be able to make and receive phone calls from external clients using the SIP protocol. When properly configured, a person will be able to call you simply by sending the request to \"username@yourdomain.com\". The same is try for you to place a call to an external system using SIP when their DNS SRV records are properly defined.") %]
</p>
[% IF CPANEL.CPVAR.sip_enabled -%]
  <p>
    <span class="success">[% locale.maketext("BrandingEnabled") %]</span>
    <a class="input-button" href="set_sip.html?domain=[% FORM.domain %]&action=uninstall">[% locale.maketext("HLDis") %]</a>
  </p>
  [% ELSE -%]
  <p>
    <span class="disabled">[% locale.maketext("Disabled") %]</span>
    <a class="input-button" href="set_sip.html?domain=[% FORM.domain %]&action=install">[% locale.maketext("Enable") %]</a>
  </p>
[% END -%]

<h2>[% locale.maketext("CGPCALDAV") %]</h2>
<p class="description">
  [% locale.maketext("'By enabling this setting you will be able to create and share a calendar with external systems. This could be a partner company, or colleague that wants to collaborate with you.") %]
</p>
[% IF CPANEL.CPVAR.caldav_enabled -%]
  <p>
    <span class="success">[% locale.maketext("BrandingEnabled") %]</span>
    <a class="input-button" href="set_caldav.html?domain=[% FORM.domain %]&action=uninstall">[% locale.maketext("HLDis") %]</a>
  </p>
[% ELSE -%]
  <p>
    <span class="disabled">[% locale.maketext("Disabled") %]</span>
    <a class="input-button" href="set_caldav.html?domain=[% FORM.domain %]&action=install">[% locale.maketext("Enable") %]</a>
  </p>
[% END -%]

<h2>[% locale.maketext("CGPCARDDAV") %]</h2>
<p class="description">
  [% locale.maketext("'By enabling this setting, you will be able to share contacts in your address book with external systems that also use the CardDAV protocol. This can be of particular use for home / office situations or when you want to share address resources with a partner company or colleague that uses a different system.") %]
</p>
[% IF CPANEL.CPVAR.carddav_enabled -%]
  <p>
    <span class="success">[% locale.maketext("BrandingEnabled") %]</span>
    <a class="input-button" href="set_carddav.html?domain=[% FORM.domain %]&action=uninstall">[% locale.maketext("HLDis") %]</a>
  </p>
[% ELSE -%]
  <p>
    <span class="disabled">[% locale.maketext("Disabled") %]</span>
    <a class="input-button" href="set_carddav.html?domain=[% FORM.domain %]&action=install">[% locale.maketext("Enable") %]</a>
  </p>
</cpanelif>
[% END -%]
