<div id="h1Title" class="h1Title">[% locale.maketext("Confirm Security Questions and Answers") %]</div>
<p class="description">[% locale.maketext("security-questions-answer-desc") %]</p>
<form action="[% cp_security_token %]/?key=[% acct_randkey %]"" method="post" target="_top">
<input type="hidden" name="formaction" value="respondquestions"> 
<ol id="sec-ques">
<li><label for="ques_one">[% userquestion.1 %]</label>
<p><input type="text" name="answer1" value=""></p>
</li>
<li><label for="ques_two">[% userquestion.2 %]</label>
<p><input type="text" name="answer2" value=""></p>
</li>
<li><label for="ques_three">[% userquestion.3 %]</label>
<p><input type="text" name="answer3" value=""></p>
</li>
<li><label for="ques_four">[% userquestion.4 %]</label>
<p><input type="text" name="answer4" value=""></p>
</li>

</ol>
<div style="float: right;">
    <input type="button" value="[% locale.maketext( "LOLogout" ) %]" class="input-button" onClick="document.location.replace( '/logout' );">
</div>
<input type="submit" value="[% locale.maketext("verify-answers") %]" class="input-button">
</form>
