<div id="h1Title" class="h1Title">[% locale.maketext("Confirm Security Questions and Answers") %]</div>
<form action="[% cp_security_token %]/?key=[% acct_randkey %]" method="post" target="_top">
[% locale.maketext("SecQuesSaveMsg") %]
<input type="submit" value="[% locale.maketext("continue") %]" class="input-button">
</form>

