<div id="h1Title" class="h1Title">[% locale.maketext("Confirm Security Questions and Answers") %]</div>
<p class="description">[% locale.maketext("security-questions-conf-desc") %]</p>
<form action="[% cp_security_token %]/?key=[% acct_randkey %]" method="post" id="mainform" target="_top">
<input type="hidden" name="formaction" value="setquestions" id="formaction">

<input type="hidden" name="q1ques" value="[% userquestion.1 %]">
<input type="hidden" name="q2ques" value="[% userquestion.2 %]">
<input type="hidden" name="q3ques" value="[% userquestion.3 %]">
<input type="hidden" name="q4ques" value="[% userquestion.4 %]">

<input type="hidden" name="q1answer" value="[% q1answer %]">
<input type="hidden" name="q2answer" value="[% q2answer %]">
<input type="hidden" name="q3answer" value="[% q3answer %]">
<input type="hidden" name="q4answer" value="[% q4answer %]">
<ol id="sec-ques">
<li><label for="ques_one">[% userquestion.1 %]</label>
<p>[% q1answer %]</p>
</li>
<li><label for="ques_two">[% userquestion.2 %]</label>
<p>[% q2answer %]</p>
</li>
<li><label for="ques_three">[% userquestion.3 %]</label>
<p>[% q3answer %]</p>
</li>
<li><label for="ques_four">[% userquestion.4 %]</label>
<p>[% q4answer %]</p>
</li>

</ol>
<div style="clear:both;">
<div style="float:left;">
    <a onClick="document.getElementById('formaction').value='main'; document.getElementById('mainform').submit(); return false;" href="[% cp_security_token %]/?key=[% acct_randkey %]">[% locale.maketext("SecPolAnsw") %]</a>
</div>
<div style="float:right;">
<input type="submit" value="[% locale.maketext("save-answers") %]" class="input-button">
</div>
</div>
<br />
</form>

