/*********** Black Ice **********/

/************ General Styles ***********/
body {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 11px;
   background-color:#000;
   background-image: none;
}
 a:hover {
   color: #666;
   text-decoration: underline;
}
.body-content h1{
   font-family:verdana, arial, helvetica, sans-serif;
   font-size:12px;
   font-weight: bold;
   color: #000000;
}
h1{
	color:#999;
	}
/********** Button Styles **********/   
.input-button{
	color: #000;
	vertical-align:middle;
	border: 1px outset #999999;
}
.input-button:hover{
	color: #000;
	text-decoration:none;
}
.create-button{
	font-size:11px;
    text-decoration: none;
	border: 1px outset #999999;
	text-align:center;
}
.create-button:hover{
	color: #000;
	text-decoration:none;
}
/******************************************** TABLE STYLES *************************************/
/********* Form Tables ********/
.formtbl{
	font-size:12px;
	font-family:Verdana,  Arial, sans-serif;
	/*border:1px solid #ccc;*/
}
.formtbl .nobrds{
	border:none;
}
.formtbl .info-odd{
	background-color:#F3F3F3;
	border-bottom:1px solid #ccc;
}
.formtbl .info-even{
	background-color:#fff;
	border-bottom:1px solid #ccc;
}

/******** Sortable tables *********/
.sortable, .nonsortable{
	font-size:12px;
	font-family:Verdana,  Arial, sans-serif;
}
.sortable caption, .nonsortable caption{
	color:#000;
	font-size: 12px;
	color:#000;
}
.sortable th, .nonsortable th{
		background-color:#000; 
		background-position:bottom;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		color:#fff;
		font-size: 12px;
		font-variant: small-caps;
		/*background-image:url(tbl-bg.jpg);*/
}       

.sortable th a, .nonsortable th a{        
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	font-size: 12px;
}
.sortable th a:active, .nonsortable th a:active{                
	color:#ccc;
	font-weight:bold;
	text-decoration:underline;
	font-size: 12px;
}
 .sortable th a:visited, .nonsortable th a:visited{
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	font-size: 12px;
}
.sortable a, .nonsortable a {
	color:#00566a;
	text-decoration:none;
}
.sortable a:hover, .nonsortable a:hover {
	color: #F3960B;
	text-decoration:none;
}
.sortable, .nonsortable{
	border:1px solid #ccc;
}
.sortable td, .nonsortable td{
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
}
.sortable .row-odd, .nonsortable .row-odd{
	background-color:#F3F3F3;
	border-bottom:1px solid #ccc;
}
.sortable .row-even, .nonsortable .row-even {
	background-color:#fff;
	border-bottom:1px solid #ccc;
}
/********** Boxes  on index.html *********/
h6{
	background-color:#000;
	border-bottom:2px #ccc solid;
	font:12px Verdana, sans-serif; 
	color:#fff;
	font-weight:bold;
	text-align:center;
}
h3{
	background-color:#000;
	border-bottom:2px #ccc solid;
	font:12px Verdana, sans-serif; 
	color:#fff;
	font-weight:bold;
	text-align:center;
	cursor:default;
}
h6{
	cursor:pointer;
}
h6:hover{
	cursor:pointer;

}
h6.sfhover { 
    cursor:pointer; 
}
.cellbox{
	border:1px solid #666;
}
/********** Small boxes - To Left on Main Page *********/
#notices, #quota-warnings{
	border:1px solid #666;
	text-align:center;
}
#notices h6, #quota-warnings h6, #content-stats h6{
	border-bottom:2px #666 solid;
	font:12px Verdana, sans-serif; 
	color:#fff;
	font-weight:bold;
	text-align:center;
}
#notices, #quota-warnings, #content-stats h6 {
	/*cursor:pointer;*/
}
#stats td{
	border-bottom:1px #ccc solid;
	}

#stats .row-odd{
	background-color:#f3f3f3;
}
#stats .row-even{
	background-color:#fff;
	
	}	
.warning{
	color:#FF0000;
}
span.action_link{color:#FFFFFF;cursor:pointer;}
 .fake_anchor{color:#000;cursor:pointer;}
.fake_anchor:hover{color:#666;text-decoration:underline;}ext-decoration: underline;
}
#cpanel #border-efx #heading-top-header-bg #heading-top-billboard #logo { top: 54px; right: 561px; }
/*#cpanel #border-efx #heading-top-header-bg #heading-top-billboard #logo img { width:157px; height:70px; }
*/