body{font-family:verdana,arial,helvetica,sans-serif;font-size:11px;background-color:#000;background-image:none;}
a:hover{color:#666;text-decoration:underline;}
.body-content h1{font-family:verdana,arial,helvetica,sans-serif;font-size:12px;font-weight:bold;color:#000;}
h1{color:#999;}
.input-button{color:#000;vertical-align:middle;border: 1px outset #999999;}
.input-button:hover{color:#000;text-decoration:none;}
.create-button{font-size:11px;text-decoration:none;border: 1px outset #999999;text-align:center;}
.create-button:hover{color:#000;text-decoration:none;}
.formtbl{font-size:12px;font-family:Verdana,Arial,sans-serif;}
.formtbl .nobrds{border:none;}
.formtbl .info-odd{background-color:#F3F3F3;border-bottom:1px solid #ccc;}
.formtbl .info-even{background-color:#fff;border-bottom:1px solid #ccc;}
.sortable, .nonsortable, .dynamic_table{font-size:12px;font-family:Verdana,Arial,sans-serif;}
.sortable caption,.nonsortable caption{color:#000;font-size:12px;color:#000;}
.sortable th,.nonsortable th, .dynamic_table th{background-color:#000;background-position:bottom;border-top:1px solid #ccc;border-bottom:1px solid #ccc;color:#fff;font-size:12px;font-variant:small-caps;}
.sortable th a,.nonsortable th a, .dynamic_table th a{color:#fff;font-weight:bold;text-decoration:none;font-size:12px;}
.sortable th a:active,.nonsortable th a:active, .dynamic_table th a:active{color:#ccc;font-weight:bold;text-decoration:underline;font-size:12px;}
.sortable th a:visited,.nonsortable th a:visited {color:#fff;font-weight:bold;text-decoration:none;font-size:12px;}
.sortable a,.nonsortable a, .dynamic_table a{color:#00566a;text-decoration:none;}
.sortable a:hover,.nonsortable a:hover, .dynamic_table a:hover {color:#F3960B;text-decoration:none;}
.sortable,.nonsortable, .dynamic_table{border:1px solid #ccc;}
.sortable td,.nonsortable td{border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
.sortable .row-odd,.nonsortable .row-odd{background-color:#F3F3F3;border-bottom:1px solid #ccc;}
.sortable .row-even,.nonsortable .row-even{background-color:#fff;border-bottom:1px solid #ccc;}
h6{background-color:#000;border-bottom:2px #ccc solid;font:12px Verdana,sans-serif;color:#fff;font-weight:bold;text-align:center;}
h3{background-color:#000;border-bottom:2px #ccc solid;font:12px Verdana,sans-serif;color:#fff;font-weight:bold;text-align:center;cursor:default;}
h6{cursor:pointer;}
h6:hover{cursor:pointer;}
h6.sfhover{cursor:pointer;}
.cellbox{border:1px solid #666;}
#notices,#quota-warnings{border:1px solid #666;text-align:center;}
#notices h6,#quota-warnings h6,#content-stats h6{border-bottom:2px #666 solid;font:12px Verdana,sans-serif;color:#fff;font-weight:bold;text-align:center;}
#stats td{border-bottom:1px #ccc solid;}
#stats .row-odd{background-color:#f3f3f3;}
#stats .row-even{background-color:#fff;}
.warning{color:#F00;}
#cpanel #border-efx #heading-top-header-bg #heading-top-billboard #logo{top:54px;right:561px;}
th .action_link{color:#FFFFFF;cursor:pointer;}
 .fake_anchor{color:#000;cursor:pointer;}
.fake_anchor:hover{color:#666;text-decoration:underline;}
#content-stats-end .action_link{color:#000;}
span#generate_password_toggle_advanced_options{color:#000;}
