<table width="690" border="0" cellpadding="0" cellspacing="0" id="ftptbl" class="sortable">
	<tr>
		<th class="cell" scope="col"><cpanel langprint="FTPUser"></th>
		<th class="cell sorttable_nosort" scope="col"><cpanel langprint="FTPType"></th>
		<th class="cell" scope="col"><cpanel langprint="FTPDirectory"></th>
		<th class="cell" scope="col"><cpanel langprint="FTPDiskUsage"></th>
		<th class="cell" scope="col"><cpanel langprint="FTPQuota"></th>
		<th class="cell sorttable_nosort" scope="col" colspan="4"><cpanel langprint="FTPFunctions"></th>
	</tr>
	<?cp Ftp::listftpwithdisk(
	[tr class="row-%"]
		[td class="cell truncate"]%[/td]
		[td class="cell" align="center"][img alt="%" src="$MAGICREVISION{'images/%.gif'}" /][/td]
		[td class="truncate cell" truncate="30" align="left" width="1\{percent}" nowrap="nowrap"][div class="exptxtboxpre" id="homedir-%" align="left"]%[/div][/td]
		[td class="cell"] [div style="text-align: right"]%[/div][/td]
		[td class="cell" ][div style="text-align: right"]%[/div][/td]
		[td class="maindisp" nowrap="nowrap" style="padding-bottom: 5px;" colspan="4"]
			[form action="redirect.html"]
				[div align="center"]
				[select name="url" onchange="MM_jumpMenu\{leftparenthesis}'parent'\{comma}this\{comma}0\{rightparenthesis}"] 
					[option selected="selected"]$LANG{'Choose'}[/option]
					[option id="delete" value="dodelftp.html?login=%&amp;type=%&amp;homedir=%" on="on" onchange="return confirmSubmit\{leftparenthesis}\{rightparenthesis}"]$LANG{'Delete'}[/option]
					[option value="editquota.html?acct=%&amp;type=%"]$LANG{'EQuota'}[/option]              
					[option value="passwdftp.html?acct=%&amp;type=%"]$LANG{'TChangePass'}[/option]
					[option value="configure.html?acct=%&amp;type=%"]$LANG{'ConfigFtp'}[/option]
				[/select]
				[input class="input-button" type="submit" value="$LANG{'go'}" /]
				[/div]
			[/form]
		[/td]
		[td class="mainhide" colspan="4" nowrap="nowrap" style="padding-left: 6px;" width="200"]
			[div style="width:200px;"]
				[div class="expbox" id="delete-%" onmouseover="runAnimOver[[this]];"][a href="dodelftp.html?login=%&amp;type=%&amp;homedir=%"][img id="delete-img-%" src="$BRANDINGIMG{'email-del'}" width="16" height="16" border="0" alt="" align="middle" /][br /][span id="delete-txt-%"]$BRLANG{'Delete'}[/span][/a][/div]
				[div class="expbox" id="quota-%" onmouseover="runAnimOver[[this]];"][a href="editquota.html?acct=%&amp;type=%"][img id="quota-img-%" src="$BRANDINGIMG{'email-quota'}" width="16" height="16" border="0" align="middle" alt="" /][br /][span id="quota-txt-%"]$BRLANG{'EQuota'}[/span][/a][/div]
				[div class="expbox" id="passwd-%" onmouseover="runAnimOver[[this]];"][a href="passwdftp.html?acct=%&amp;type=%"][img id="passwd-img-%" src="$BRANDINGIMG{'email-pass'}" width="16" height="16" border="0" alt="" align="middle" /][br /][span id="passwd-txt-%"]$BRLANG{'TChangePass'}[/span][/a][/div]
				[div class="expbox" id="clientconf-%" onmouseover="runAnimOver[[this]];"][a href="configure.html?acct=%&amp;type=%"][img id="clientconf-img-%" src="$BRANDINGIMG{'ftpclient-config'}" width="16" height="16" border="0" alt="" align="middle" /][br /][span id="clientconf-txt-%"]$BRLANG{'ConfigFtp'}[/span][/a][/div]
			[/div]
		[/td]
	[/tr]	
	,*num,serverlogin,accttype,accttype,serverlogin,htmldir,humandiskused,humandiskquota,login,accttype,dir,login,accttype,login,accttype,login,accttype,serverlogin,login,accttype,dir,serverlogin,serverlogin,serverlogin,login,accttype,serverlogin,serverlogin,serverlogin,login,accttype,serverlogin,serverlogin,serverlogin,login,accttype,serverlogin,serverlogin) api2_paginate=1,api2_paginate_start=$FORM{'api2_paginate_start'},api2_paginate_size=$CPVAR{'itemsperpage'},regex=$FORM{'searchregex'},infinitylang=true,dirhtml=[img alt="" border="0" src="$BRANDINGIMG{'homeb'}" align="middle" /] ?>
</table>