<div class="section">
  <h2>XMPP Clients</h2>
  <p>
    An XMPP client is any software or application that enables you to connect to an XMPP for instant messaging with other people over the Internet. There are many free clients you can use to do this, for many different devices and operating systems.
  </p>
  <table class="table table-striped responsive-table">
    <thead>
      <tr class="row-1 responsive-row">
	<th class="column-1">Name</th><th class="column-2">Platform(s)</th><th class="column-4">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr class="row-17 responsive-row">
	<td class="column-1">Coccinella</td><td class="column-2">GNU/Linux, Mac OS X, Windows</td><td class="column-4"><a href="http://coccinella.im/" target="_blank">coccinella.im</a></td>
      </tr>
      <tr class="row-59 responsive-row">
	<td class="column-1">Mozilla Thunderbird</td><td class="column-2">GNU/Linux, Mac OS X, Windows</td><td class="column-4"><a href="http://www.mozilla.org/thunderbird/" target="_blank">mozilla.org/thunderbird</a></td>
      </tr>
      <tr class="row-65 responsive-row">
	<td class="column-1">Pidgin</td><td class="column-2">GNU/Linux, Mac OS X, Windows</td><td class="column-4"><a href="http://pidgin.im/" target="_blank">pidgin.im</a></td>
      </tr>
      <tr class="row-68 responsive-row">
	<td class="column-1">Psi</td><td class="column-2">GNU/Linux, Mac OS X, Windows</td><td class="column-4"><a href="http://psi-im.org/" target="_blank">psi-im.org</a></td>
      </tr>
      <tr class="row-28 responsive-row">
	<td class="column-1">Gajim</td><td class="column-2">GNU/Linux, Windows</td><td class="column-4"><a href="http://gajim.org/" target="_blank">gajim.org</a></td>
      </tr>
      <tr class="row-25 responsive-row">
	<td class="column-1">Empathy</td><td class="column-2">GNU/Linux</td><td class="column-4"><a href="http://live.gnome.org/Empathy" target="_blank">live.gnome.org</a></td>
      </tr>
      <tr class="row-52 responsive-row">
	<td class="column-1">Kopete</td><td class="column-2">GNU/Linux</td><td class="column-4"><a href="http://kopete.kde.org/" target="_blank">kopete.kde.org</a></td>
      </tr>
      <tr class="row-2 responsive-row">
	<td class="column-1">Adium</td><td class="column-2">Mac OS X</td><td class="column-4"><a href="http://adium.im/" target="_blank">adium.im</a></td>
      </tr>
      <tr class="row-34 responsive-row">
	<td class="column-1">iChat</td><td class="column-2">Mac OS X</td><td class="column-4"><a href="http://www.apple.com/macosx/features/ichat.html" target="_blank">apple.com</a></td>
      </tr>
      <tr class="row-12 responsive-row">
	<td class="column-1">ChatSecure</td><td class="column-2">Mobile (iOS)</td><td class="column-4"><a href='http://chrisballinger.info/apps/chatsecure/'>chrisballinger.info</a></td>
      </tr>
      <tr class="row-7 responsive-row">
	<td class="column-1">Beem</td><td class="column-2">Mobile (Android)</td><td class="column-4"><a href="http://www.beem-project.com/" target="_blank">beem-project.com</a></td>
      </tr>
      <tr class="row-30 responsive-row">
	<td class="column-1">Gibberbot</td><td class="column-2">Mobile (Android)</td><td class="column-4"><a href='https://guardianproject.info/apps/gibber/'>guardianproject.info</a></td>
      </tr>
      <tr class="row-94 responsive-row">
	<td class="column-1">Xabber</td><td class="column-2">Mobile (Android)</td><td class="column-4"><a href="http://www.xabber.com/" target="_blank">xabber.com</a></td>
      </tr>
      <tr class="row-97 responsive-row">
	<td class="column-1">Yaxim</td><td class="column-2">Mobile (Android)</td><td class="column-4"><a href="http://slideme.org/application/yaxim" target="_blank">slideme.org</a></td>
      </tr>
      <tr class="row-50 responsive-row">
	<td class="column-1">JWChat</td><td class="column-2">Browser</td><td class="column-4"><a href="http://stefan-strigler.de/jwchat/" target="_blank">stefan-strigler.de/jwchat</a></td>
      </tr>
    </tbody>
  </table>
</div>
