/* PNG transparency for calendar images */
.yui-skin-sam .yui-calcontainer .calclose,
.yui-skin-sam .yui-calendar .calhead,
.yui-skin-sam .yui-calendar .calnavleft,
.yui-skin-sam .yui-calendar .calnavright {
    background-image: none;
    zoom: 1;
}

.yui-skin-sam .yui-calcontainer .calclose {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/cal-close.png", sizingMethod="crop");
}

.yui-skin-sam .yui-calendar .calhead {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/blue-header.png", sizingMethod="crop");
}

.yui-skin-sam .yui-calendar .calnavleft {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/previous.png", sizingMethod="crop");
}

.yui-skin-sam .yui-calendar .calnavright {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/next.png", sizingMethod="crop");
}
