.yui-skin-sam .yui-calcontainer {
    padding:3px;
    background-color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', endColorStr='#e6e8e7');
    zoom: 1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e8e7));
    background-image: -moz-linear-gradient(#ffffff, #e6e8e7);
    width:218px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
    -moz-box-shadow: 0 0 5px #888888;
    -webkit-box-shadow: 0 0 5px #888888;
    box-shadow: 0 0 5px #888888;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border:1px solid #a9a9a9 !important;
}
.yui-skin-sam .yui-calcontainer .title {
    font-family: Helvetica, Arial, sans-serif;
    color:#2C7283;
    font-weight:bold;
    height:auto;
    padding:.4em;
    margin:0 0 0 -4px;
    width:100%;
    font-size:12px;
    font-weight: bold;
    text-align:left;
    background-image:none !important;
    border-bottom:0 !important;
}
.yui-skin-sam .yui-calcontainer .calclose {
    background:url(../images/cal-close.png) no-repeat 0;
    width:20px;
    height:20px;
    top:.1em;
    right:.4em;
    cursor:pointer;
}
.yui-skin-sam .yui-calendar {
    border-spacing:0;
    border-collapse:collapse;
    font:100% sans-serif;
    text-align:center;
    margin:0;
    width:100%;
}
.yui-skin-sam .yui-calendar .calhead {
    background:transparent;
    border:none;
    vertical-align:middle;
    padding:0;
    background:url(../images/blue-header.png) no-repeat;
    height:32px;
}
.yui-skin-sam .yui-calendar .calnavleft {
    background:url(../images/previous.png) no-repeat;
    width:10px;
    height:13px;
    top:3px;
    bottom:0;
    left:3px;
    margin-left:.4em;
    cursor:pointer;
}
.yui-skin-sam .yui-calendar .calnavright {
    background:url(../images/next.png) no-repeat;
    width:9px;
    height:13px;
    top:3px;
    bottom:0;
    right:4px;
    margin-right:.4em;
    cursor:pointer;
}
.yui-skin-sam .yui-calendar .calweekdaycell {
    color:#1E7F95;
    font-weight:bold;
    font-size:10px;
    text-align:center;
    width:2em;
}
.yui-skin-sam .yui-calendar .calfoot {
    background-color:#f2f2f2;
}
.yui-skin-sam .yui-calendar .calrowhead, .yui-skin-sam .yui-calendar .calrowfoot {
    color:#a6a6a6;
    font-size:85%;
    font-style:normal;
    font-weight:normal;
    border:none;
}
.yui-skin-sam .yui-calendar td.calcell {
    border:1px solid #ccc;
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
    background-image: -moz-linear-gradient(#ffffff, #f4f4f4);
    padding:1px;
    height:1.6em;
    line-height:1.6em;
    text-align:center;
    white-space:nowrap;
    color:#999999 !important;
}
.yui-skin-sam .yui-calendar td.calcell a {
    color:#666666;
    display:block;
    height:100%;
    text-decoration:none;
}
.yui-skin-sam .yui-calendar td.calcell.today a {
    background-color: transparent;
}
.yui-skin-sam .yui-calendar td.calcell.oom {
    background-color: #cccccc;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#cccccc));
    background-image: -moz-linear-gradient(#ececec, #cccccc);
    color:#a6a6a6;
    cursor:default;
}
.yui-skin-sam .yui-calendar td.calcell.selected {
    background-color: transparent;
    color:#000000;
}
.yui-skin-sam .yui-calendar td.calcell.selected a {
    background-color: transparent;
    color:#1B7588;
}
.yui-skin-sam .yui-calendar td.calcell.calcellhover {
    background-color:#000;
    color:#ffffff;
    cursor:pointer;
}
.yui-skin-sam .yui-calendar td.calcell.calcellhover a {
    background-color: #cccccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#197c92', endColorStr='#32606f');
    zoom: 1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#197c92), to(#32606f));
    background-image: -moz-linear-gradient(#197c92, #32606f);
    color:#ffffff;
}
.yui-skin-sam .yui-calendar td.calcell.previous {
    color:#e0e0e0;
}
.yui-skin-sam .yui-calendar a.calnav {
    font-size:13px;
    font-weight: 500;
    color:#ffffff;
    zoom:1;
    border:0 !important;
}
.calnav {
    padding-top:20px;
}
.yui-skin-sam .yui-calendar a.calnav:hover {
    background:none !important;
    cursor:pointer;
    text-decoration:none;
}
.yui-skin-sam .yui-calcontainer .yui-cal-nav {
    font-family:arial, helvetica, clean, sans-serif;
    font-size:93%;
    border:1px solid #808080;
    left:50%;
    margin-left:-7em;
    width:14em;
    padding:0;
    top:2.5em;
    background-color:#f2f2f2;
}
.cjt_calendarwithtime_hours, .cjt_calendarwithtime_minutes {
    border:1px solid #cccccc !important;
    font-size:10px;
    font-weight: bold;
    color:#666;
    padding:4px;
}
.cjt_calendarwithtime_timezone {
    color:#666;
}
.cjt_calendarwithtime_ampm{
    color:#666 !important;
}
