/********************************************OLD STYLES*************************************/
/*These styles are deprecated and should only be used in older themes.  x1 - x2
X3 styles are listed in X3 section.*/
/*******************************************************************************************/
font.med {
font-size:11px;
}

font.index {
font-size:11px;
}

font.small {
font-size:9px;
}

font.big {
font-size:12px;
font-weight:700;
color:#000;
}

font.big2 {
font-size:12px;
font-weight:700;
color:#000;
}

font.red {
font-size:11px;
font-weight:700;
color:red;
}

font.bigred {
font-size:12px;
font-weight:700;
color:red;
}

font.white {
color:#FFF;
}

.index1 {
background-color:#B7CBCF;
}

.index2 {
background-color:#e6e6e6;
}

.indexbold {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:700;
}

.tdshade2 {
background-color:#e6e6e6;
}

.bodyblue {
color:#039;
}

.bodyblackTB {
padding-right:11px;
padding-left:11px;
}

.bodyblueTB {
color:#039;
}

.headerTB {
font-weight:700;
text-decoration:none;
padding-right:5px;
padding-left:5px;
}

.description {
font-style:italic;
margin:12px 0;
line-height:14px;
}

select {
text-decoration:none;
background:#FFF;
}

option {
text-decoration:none;
background:#FFF;
}

textarea {
text-decoration:none;
background:#FFF;
border:1px solid #999;
}

/*input {
text-decoration:none;
background:#FFF;
border:1px solid #999;
}

input.image {
text-decoration:none;
border-width:0;
}
*/
table.addontable {
border:2px #D4E4E8 solid;
}

td.bwtableb {
border-bottom:2px #D4E4E8 solid;
}

td.bwtable {
border-top:2px #D4E4E8 solid;
}

td.addontable {
border:1px #005B70 solid;
}

.bwtable {
border:#000;
text-align:center;
}

.bwhead {
border:1px #000 solid;
}

.bwtdh1 {
border:1px #000 solid;
background-color:#DDD;
}

.bwtdh2 {
border:1px #000 solid;
}

.bwtd1 {
border:0 #000 hidden;
background-color:#DDD;
}

.bwtd2 {
border:0 #000 hidden;
background-color:#EEE;
}

.sbar {
color:#005B70;
background-color:#005B70;
height:2px;
}

fieldset {
border:#26a solid 1px;
width:98%;
}

legend {
color:#000;
position:static;
top:-0.5em;
font-weight:700;
}

td.barborder {
/*border:1px #000 solid;*/
}

input.nb {
color:#000;
text-decoration:none;
background:#FFF;
border:0 solid #999;
-moz-background-clip:padding;
}

.leger3 {
border-right:1px solid #000;
border-left:1px solid #000;
border-top:2px solid #000;
}

ul.cpaddons {
margin:0;
padding:0;
}

li.cpaddons {
padding:5px;
}

h5.cpaddons {
margin:1px 0 2px;
padding-top:5px;
}

h4.cpaddons {
font-size:14px;
margin:1px 0 2px;
padding-top:5px;
color:#2f6681;
font-family:verdana, arial, helvetica, sans-serif;
}

h3.cpaddons {
font-size:14px;
margin:1px 0 2px;
padding-top:5px;
background:none;
border:none;
text-align:left;
}

h2.cpaddons {
font-size:15px;
margin:5px 0 11px;
padding-bottom:5px;
border-bottom:2px solid #999;
}

h2.cpaddonsline {
margin:0 0 5px;
border-bottom:2px solid #999;
}

.redtext {
color:#A00;
}

.tbl-cgi,.tbl-cgi td {
border:1px solid #999;
}