/* container.css */

.overlay {
position:absolute;
display:block;
}
.tt {
visibility:hidden;
position:absolute;
color:#333;
background-color:#FDFFB4;
font-family:Verdana, Arial, Helvetica, sans-serif;
padding:2px;
border:1px solid #FCC90D;
width:auto;
}

* html body.masked select {
visibility:hidden;
}

* html div.panel-container select {
visibility:inherit;
}

* html div.drag select {
visibility:hidden;
}

* html div.hide-select select {
visibility:hidden;
}

/*.mask {
    z-index:0;   
    display:none;
    position:absolute;
    top:0;
    left:0;
    -moz-opacity: 0.5;
    opacity:.50;
    filter: alpha(opacity=50);
    background-color:#FFFFFF;
}*/
.hide-scrollbars * {
overflow:hidden;
}

.hide-scrollbars textarea,.hide-scrollbars select {
overflow:hidden;
display:none;
}

.show-scrollbars textarea,.show-scrollbars select {
overflow:visible;
}

.yui-panel-container, .panel-container {
position:absolute;
background-color:transparent;
z-index:6;
visibility:hidden;
overflow:visible;
width:auto;
}

/*.panel-container.matte {
	padding:3px;
	background-color:#FFFFFF;
}

.panel-container.matte .underlay {
	display:none;
}

.panel-container.shadow {
	padding:0px;
	background-color:transparent;
}

.panel-container.shadow .underlay {
	visibility:inherit;
	position:absolute;
	background-color:#CCC;
	top:3px;left:3px;
	z-index:0;
	width:100%;
	height:100%;
    -moz-opacity: 0.7;
    opacity:.70;
    filter:alpha(opacity=70);
}*/
.yui-panel, .panel {
visibility:hidden;
border-collapse:separate;
border:none;
overflow:visible;
background-color:transparent;
position:relative;
left:0;
top:0;
font:1em Arial;
border:1px solid #FFF;
z-index:1;
}

.yui-panel .hd, .panel .hd {
padding:0;
border:none;
background:transparent url('/yui/aqua-hd-bg.gif');
color:#000;
height:22px;
margin-left:0px;
margin-right:0px;
text-align:center;
overflow:visible;
}

.yui-panel .lt, .panel .lt {
width:7px;
height:22px;
top:0;
left:0;
background:transparent url('/yui/aqua-hd-lt.gif');
position:absolute;
}

.yui-panel .rt, .panel .rt {
width:7px;
height:22px;
top:0;
right:0;
background:transparent url('/yui/aqua-hd-rt.gif');
position:absolute;
}

.yui-panel .bd, .panel .bd {
overflow:visible;
padding:4px;
}

.yui-panel .bd p, .panel .bd p {
margin:0 0 1em;
}

.yui-panel .container-close, .panel .container-close {
position:absolute;
top:3px;
left:4px;
height:18px;
width:17px;
z-index:6;
margin:0;
padding:0;
background-repeat:no-repeat;
cursor:pointer;
visibility:inherit;
overflow:hidden;
text-decoration:none;
text-indent:-10000em;
}

.yui-panel .container-close.nosecure, .panel .container-close.nonsecure,.yui-panel .container-close {
background-image:url('/yui/x3-hd-close.png');
}

.yui-panel .container-close.secure, .panel .container-close.secure {
background-image:url('/yui/x3-hd-close.png');
}

.yui-panel .ft, .panel .ft {
padding:4px;
overflow:hidden;
background-color:#FFF;
border-top:1px solid #FFF;
border-bottom:1px solid #aeaeae;
border-left:1px solid #aeaeae;
border-right:1px solid #aeaeae;
}

.yui-simple-dialog .bd .icon, .simple-dialog .bd .icon {
background-repeat:no-repeat;
width:16px;
height:16px;
margin-right:10px;
float:left;
}

.yui-dialog .ft, .yui-simple-dialog .ft, .dialog .ft,.simple-dialog .ft {
padding-bottom:5px;
padding-right:5px;
text-align:right;
}

.yui-dialog form,.yui-simple-dialog form,.dialog form,.simple-dialog form {
margin:0;
}

.button-group button {
font:100 96% verdana;
text-decoration:none;
background:url(images/button-bg.jpg) repeat-x top;
background-color:#E4E4E4;
color:#333;
cursor:hand;
vertical-align:middle;
border:2px solid #797979;
border-top-color:#FFF;
border-left-color:#FFF;
margin:2px;
padding:2px;
}

.button-group button.default {
font-weight:700;
}

.button-group button:hover,.button-group button.hover {
background:url(images/button-bg-over.jpg) repeat-x top;
background-color:#EBF09E;
border-top-color:#FFF;
border-left-color:#FFF;
}

.button-group button:active {
border:2px solid #E4E4E4;
background-color:#BBB;
border-top-color:#333;
border-left-color:#333;
}

#win {
visibility:hidden;
}

.yui-panel-container.shadow .underlay, .panel-container.shadow .underlay {
background-color:#FFF;
display:none;
}

.yui-panel, .panel {
border:none;
overflow:visible;
background-color:transparent;
}

.yui-panel .hd,.panel .hd {
padding:0;
border:none;
background:transparent url('/yui/aqua-hd-bg.gif');
color:#000;
height:22px;
margin-left:0px;
margin-right:0px;
text-align:center;
overflow:visible;
}

.yui-panel .hd span,.panel .hd span {
font-weight: 900;
vertical-align:middle;
line-height:22px;
}

.yui-panel .container-close,.panel .container-close {
top:3px;
left:4px;
height:18px;
width:17px;
}

.yui-panel .container-close.nonsecure, .panel .container-close.nonsecure {
background-image:url('/yui/x3-hd-close.png');
}

.yui-panel .container-close.secure, .panel .container-close.secure {
background-image:url('/yui/x3-hd-close.png');
}

.yui-panel .container-close.nonsecure:hover, .panel .container-close.nonsecure:hover, .container-close:hover {
background-image:url('/yui/x3-hd-closehover.png');
}

.yui-panel .container-close.secure:hover, .panel .container-close.secure:hover {
background-image:url('/yui/x3-hd-closehover.png');
}

.yui-panel .tl,.yui-panel .lt,.panel .tl,.panel .lt {
width:7px;
height:22px;
top:0;
left:0;
height:22px;
background:transparent url('/yui/aqua-hd-lt.gif');
}

.yui-panel .tr,.yui-panel .rt,.panel .rt,.panel .tr {
width:7px;
height:22px;
top:0;
right:0;
background:transparent url('/yui/aqua-hd-rt.gif');
}

.yui-panel .tp , .panel .tp {
padding:0;
border-width:1px 1px 0;
border-color:#aeaeae;
border-style:solid;
background-color:#FFF;
overflow:hidden;
}

.yui-panel .tp .content, .panel .tp .content {
width:380px;
height:52px;
padding:2px;
margin:0;
background-color:#FFF;
overflow:hidden;
display:none;
}

.yui-panel .bd, .panel .bd {
padding:0;
border-width:0 1px 1px;
border-color:#aeaeae;
border-style:solid;
background-color:#FFF;
overflow:hidden;
}

.yui-panel .bd .content, .panel .bd .content {
width:380px;
height:400px;
padding:2px;
margin:0;
background-color:#FFF;
overflow:auto;
display:none;
}
.yui-tt {
    visibility:hidden;
    position:absolute;
    color:#333;
    background-color:#FDFFB4;
    font-family:arial,helvetica,verdana,sans-serif;
    padding:2px;
    border:1px solid #FCC90D;
    font:100% sans-serif;
    width:auto;
}

/* end container.css */

/*body {
font:13px Verdana, Arial, Helvetica, sans-serif;
line-height:1.22em;
}*/
/*  Status Widget Styles */
#cpanel_status_widget {
    -moz-box-shadow: 0 5px 10px #888;
    -webkit-box-shadow: 0 5px 10px #888;
    left: 50%;
    margin: 0 0 0 -150px;
    padding: 8px 10px;
    position: fixed;
    text-align: center;
    top: 25px;
    width: 300px;
}

.cpanel_status_error {
    background: #FFBABA;
    border: 1px solid #E3655A;
}

.cpanel_status_success {
    background: #E8FCEA;
    border: 1px solid #6DC462;
}

.cpanel_status_warning {
    background: #F6E082;
    border: 1px solid #6DC462;
}
