<table cellspacing="0" cellpadding="0" class="dynamic_table" id="cron_jobs_table">
    <tr class="dt_header_row">
        <th style="width: 65px">[% locale.maketext('cron_minute') %]</th>
        <th style="width: 65px">[% locale.maketext('cron_hour') %]</th>
        <th style="width: 65px">[% locale.maketext('cron_day') %]</th>
        <th style="width: 65px">[% locale.maketext('cron_month') %]</th>
        <th style="width: 65px">[% locale.maketext('cron_weekday') %]</th>
        <th style="width: 265px">[% locale.maketext('cron_command') %]</th>
        <th style="width: 100px">[% locale.maketext('cron_actions') %]</th>
    </tr>
[% IF return_.size == 0 %]
   <tr>
        <td colspan="7" align="center" style="padding: 15px 0px">[% locale.maketext('cron_no_cron_jobs') %]</td>
   </tr>
[% ELSE %]
[% FOREACH q IN return_ -%]
    <tr id="info_row_[% q.count %]" class="dt_info_row [% loop.index % 2 ? 'info-even' : 'info-odd' %]">
        <td><span id="minute_info_[% q.count %]">[% q.minute %]</span></td>
        <td><span id="hour_info_[% q.count %]">[% q.hour %]</span></td>
        <td><span id="day_info_[% q.count %]">[% q.day %]</span></td>
        <td><span id="month_info_[% q.count %]">[% q.month %]</span></td>
        <td><span id="weekday_info_[% q.count %]">[% q.weekday %]</span></td>
        <td>
            <code id="command_htmlsafe_[% q.count %]">[% q.command_htmlsafe %]</code>
            <input type="hidden" id="command_info_[% q.count %]" value="[% q.command FILTER html %]" />
            <input type="hidden" id="linekey_[% q.count %]" value="[% q.linekey %]" />
        </td>
        <td><span class="action_link" onclick="toggle_module('edit_module_[% q.count %]')">[% locale.maketext('Edit') %]</span>&nbsp;&nbsp;&nbsp;<span class="action_link" onclick="toggle_module('delete_module_[% q.count %]')">[% locale.maketext('RubyAppsDelete') %]</span></td>
    </tr>
    <tr id="module_row_[% q.count %]" class="dt_module_row">
        <td colspan="7">
            <div class="dt_module" id="edit_module_[% q.count %]">
                <table cellpadding="0" cellspacing="0" border="0" style="text-align: center; margin: 0 auto">
                    <tr>
                        <td style="width: 65px">[% locale.maketext('cron_minute') %]</td>
                        <td style="width: 65px">[% locale.maketext('cron_hour') %]</td>
                        <td style="width: 65px">[% locale.maketext('cron_day') %]</td>
                        <td style="width: 65px">[% locale.maketext('cron_month') %]</td>
                        <td style="width: 65px">[% locale.maketext('cron_weekday') %]</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input id="minute_[% q.count %]" type="text" size="4" /></td>
                        <td><input id="hour_[% q.count %]" type="text" size="4" /></td>
                        <td><input id="day_[% q.count %]" type="text" size="4" /></td>
                        <td><input id="month_[% q.count %]" type="text" size="4" /></td>
                        <td><input id="weekday_[% q.count %]" type="text" size="4" /></td>
                        <td>
                            <select id="common_options_[% q.count %]" onchange="select_common_option('[% q.count %]')">
                                <option value="--">-- [% locale.maketext('cron_common_settings') %] --</option>
                                <option value="* * * * *">[% locale.maketext('cron_every_minute') %] (* * * * *)</option>
                                <option value="*/5 * * * *">[% locale.maketext('cron_every_5_minutes') %] (*/5 * * * *)</option>
                                <option value="0,30 * * * *">[% locale.maketext('cron_twice_an_hour') %] (0,30 * * * *)</option>
                                <option value="0 * * * *">[% locale.maketext('cron_once_an_hour') %] (0 * * * *)</option>
                                <option value="0 0,12 * * *">[% locale.maketext('cron_twice_a_day') %] (0 0,12 * * *)</option>
                                <option value="0 0 * * *">[% locale.maketext('cron_once_a_day') %] (0 0 * * *)</option>
                                <option value="0 0 * * 0">[% locale.maketext('cron_once_a_week') %] (0 0 * * 0)</option>
                                <option value="0 0 1,15 * *">[% locale.maketext('cron_1st_and_15th') %] (0 0 1,15 * *)</option>
                                <option value="0 0 1 * *">[% locale.maketext('cron_once_a_month') %] (0 0 1 * *)</option>
                                <option value="0 0 1 1 *">[% locale.maketext('cron_once_a_year') %] (0 0 1 1 *)</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><span id="minute_[% q.count %]_error" class="no_panel" ></span></td>
                        <td><span id="hour_[% q.count %]_error" class="no_panel" ></span></td>
                        <td><span id="day_[% q.count %]_error" class="no_panel" ></span></td>
                        <td><span id="month_[% q.count %]_error" class="no_panel" ></span></td>
                        <td><span id="weekday_[% q.count %]_error" class="no_panel" ></span></td>
                        <td></td>
                    </tr>
                    <tr><td colspan="6"><br /></td></tr>
                    <tr>
                        <td align="center" colspan="6">
                            [% locale.maketext('cron_command') %]: <input type="text" size="45" id="command_[% q.count %]" /> <span id="command_[% q.count %]_error" /></span>
                        </td>
                    </tr>
                    <tr><td colspan="6"><br /></td></tr>
                    <tr>
                        <td colspan="6" align="center">
                            <div id="edit_input_[% q.count %]">
                                <span class="action_link" onclick="toggle_module('edit_module_[% q.count %]')">[% locale.maketext('cjt_cancel') %]</span> [% locale.maketext('cjt_or') %] <input type="button" value="[% locale.maketext('cron_edit_line') %]" id="edit_line_[% q.count %]" />
                            </div>
                            <div id="edit_status_[% q.count %]"></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="dt_module" id="delete_module_[% q.count %]" style="text-align: center">
                [% locale.maketext('cron_delete_cron_job') %]<br />
                <div style="height: 8px"></div>
                <div id="delete_input_[% q.count %]">
                    <span class="action_link" onclick="toggle_module('delete_module_[% q.count %]')">[% locale.maketext('cjt_cancel') %]</span> [% locale.maketext('cjt_or') %] <input type="button" class="input-button" value="[% locale.maketext('BrandingDPackage') %]" onclick="delete_line('[% q.count %]')" />
                </div>
                <div id="delete_status_[% q.count %]"></div>
            </div>
            <div class="cjt_status_bar" id="status_bar_[% q.count %]"></div>
        </td>
    </tr>
[% END -%]
[% END %]
</table>
