
<!-- DO NOT REMOVE THE servar BELOW THIS LINE -->
<cpanel setvar="has_supportinfo_include=1">
<!-- DO NOT REMOVE THE setvar ABOVE THIS LINE -->

<div id="contactinfo"><a name="contact"></a><h2>Contact</h2>
    
    <!-- This is for displaying link to a custom support form only -->
	<!-- <p><a href="contact/contactinfo.html">Submit a Support Request</a> </p>-->
 
 <!-- This is for displaying contact info provided -->
 <ul>
[% FOR dept IN data.departments %]
    [% IF dept.id != 'support' %]
    [% NEXT %]
   [% END %] 
<li>[% dept.name %]: <br />
    [% IF dept.url %]
    <a href="[% dept.url %]" target="_blank">[% dept.url %]</a>
    [% END %]
    [% IF dept.email %]
    <a href="mailto:[% dept.email %]">[% dept.email %]</a>
    [% END %]
</li>
[% END %]
 </ul>
 
 
 	</div>
