
<!-- DO NOT REMOVE THE servar BELOW THIS LINE -->
<cpanel setvar="has_supportinfo_include=1">
<!-- DO NOT REMOVE THE setvar ABOVE THIS LINE -->


<cpanelif $CPVAR{'contactpage'}>

<meta http-equiv="refresh" content="0;url=[% data.redirecturl %]" />


<script>
    window.location.href='[% data.redirecturl %]';
</script>


</cpanelif>

<a href="[% data.redirecturl %]" target="_blank">[% data.redirecturl %]</a>

