/*********** Clocks Theme **********/

/************ General Styles ***********/
body {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 11px;
   background-color:#029BD4;
   background-image:none;
}



/******** Sortable tables *********/
.sortable, .nonsortable{
	font-size:12px;
	font-family:Verdana,  Arial, sans-serif;
}
.sortable caption, .nonsortable caption{
	color:#000;
	font-size: 12px;
}
.sortable th, .nonsortable th{
		background-color:#95e3f8; 
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
		color:#000;
		font-size: 12px;
		font-variant: small-caps;
		background-position:top;
}
.sortable th a, .nonsortable th a{
	color:#000;
	font-weight:bold;
	text-decoration:none;
	font-size: 12px;
}
.sortable th a:active, .nonsortable a:active{
	color:#000;
	font-weight:bold;
	text-decoration:underline;
	font-size: 12px;
}
 .sortable th a:visited, .nonsortable th a:visited{
	color:#000;
	font-weight:bold;
	text-decoration:none;
	font-size: 12px;
}
.sortable a, .nonsortable a {
	color:#24383d;
	text-decoration:none;
}
.sortable a:hover, .nonsortable a:hover {
	color: #faa523;
	text-decoration:none;
}
.sortable, .nonsortable{
	border:1px solid #387785;
}
.sortable td, .nonsortable td{
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
}
.sortable .row-odd, .nonsortable .row-even{
	background-color:#f3f3f3;
	border-bottom:1px solid #ccc;
}
.sortable .row-even, .nonsortable .row-odd{
	background-color:#fff;
	border-bottom:1px solid #ccc;
}

/********** Boxes - To Right on Main Page *********/
h6{
	border-bottom:2px #ccc solid;
	font:12px Verdana, sans-serif; 
	color:#000;
	font-weight:bold;
	text-align:center;
}
h3{
	border-bottom:2px #ccc solid;
	font:12px Verdana, sans-serif; 
	color:#000;
	font-weight:bold;
	text-align:center;
	cursor:default;
}
h2{
	cursor:pointer;
}
h6:hover{
	cursor:pointer;
}
h6.sfhover { 
cursor:pointer; 
}
.cellbox{
	border:1px solid #ccc;
}

/********** Small boxes - To Left on Main Page *********/

#notices h6, #quota-warnings h6, #content-stats h6{
	border-bottom:2px #ccbfa3 solid;
	font:12px Verdana, sans-serif; 
	color:#333;
	font-weight:bold;
	text-align:center;
}
#notices, #quota-warnings, #content-stats h6 {
	/*cursor:pointer;*/
}

#stats .row-odd{
	background-color:#f3f3f3;
}
#stats .row-even{
	background-color:#fff;
	
	}	
.warning{
	color:#FF0000;
}
#cpanel #border-efx #heading-top-header-bg #heading-top-billboard #logo { top: 50px; right: 30px; }
/*#cpanel #border-efx #heading-top-header-bg #heading-top-billboard #logo img { width: 125px; height: 66px; }*/
ul.links li a {
	color:#000;
	}
