[%
SET CPANEL.CPVAR.dprefix = "../";
%]

[% WRAPPER '_assets/master.html.tt'
app_key = 'cgpro_forwarders'
-%]
<script src="js/ejs_production.js"></script>
<style>
</style>
<div class="body-content">

</div>
<script src="js/forwarders.js"></script>
[% END %]
