[%
SET CPANEL.CPVAR.dprefix = "../../../";
%]

[% WRAPPER '_assets/master.html.tt'
app_key = 'cgpro_forwarders'
-%]
<link rel="stylesheet" type="text/css" href="js/main.css">

<script src="js/ejs_production.js"></script>
<div class="init-loading"></div>
<div class="body-content"></div>
<script src="js/forwarders.js"></script>
[% END %]
